[2017-01-24 07:34] bitaxis opened #3886 "RVM install fail on macOS Yosemite due expired curl's SSL certificate"
## Description

I have RVM 1.28.0 installed on Yosemite 10.10.5, but have been unable to install Rubies, as it ends with the following message:

## Steps to reproduce

To reproduce, just run:

## Expected behavior

Obviously, I expected installation to succeed, like I've done many times before.

## Actual behavior

https://gist.github.com/bitaxis/a07327bc7366695d17d327e29f1fdd6f

An interesting th

[2017-01-25 05:53] bitaxis commented on #3886
After much digging, the following hack enables me to install Rubies with RVM once again:

[code]

[2017-01-25 14:22] pkuczynski commented on #3884
@excelsior I prepared a fix for you. Could you please try again:

[code]

[2017-01-25 16:10] pkuczynski commented on #3886
@bitaxis I prepared patch for you. Could you revert your changes and try again with following branch:

[code]

[2017-01-26 09:00] philoserf commented on #3759
Hmm? Debug output extract around the validate test. Seems to be an issue when installing from binary.

[code]

[2017-01-26 09:25] pkuczynski commented on #3759
@philoserf this issue should not exist if you get latest master `rvm get master` and then try to install again

[2017-01-26 09:27] pkuczynski commented on #3759
@rjrobinson I am using IntelliJ and RubyMine with RVM without a problem. Seems that you missing loading rvm into shell. Could you please check RubyMine preferences and search for 'Tools > Terminal'. Check what you have listed in Shell path

[2017-01-26 09:29] pkuczynski commented on #3759
@rjrobinson your issue is connected with the fact that you have openssl098 installed. Could you please verify?

[2017-01-26 09:31] pkuczynski commented on #3759
I am closing this due lack of feedback from the original reporter. If anyone still has the issue after `rvm get master`, please let me know or open a new issue.

[2017-01-26 09:31] #3759 closed

[2017-01-26 13:04] pkuczynski commented on #3703
@jzakiya are you able to help with testing? Otherwise all the work will be wasted :(

[2017-01-26 13:06] pkuczynski commented on #3829
Closing due lack of feedback from the reporter

[2017-01-26 13:06] #3829 closed

[2017-01-26 13:08] robincsamuel opened #3893 "Not able to install ruby-2.0.0"
## Description
Tried,

`rvm install ruby-2.0.0`

This is what i got,

[code]

## Environment info
system:
    uname:       "Darwin Robins-MacBook-Pro.local 15.6.0 Darwin Kernel Version 15.6.0: Thu Sep  1 15:01:16 PDT 2016; root:xnu-3248.60.11~2/RELEASE_X86_64 x86_64"
    system:      "osx/10.11/x86_64"
    bash:        "/bin/bash => "
    zsh:         "/bin/zsh => "

  rvm:
    version:      "rvm

[2017-01-26 13:31] #3812 closed

[2017-01-26 13:32] pkuczynski commented on #3812
This issue has been fixed. @kiba thanks for the hint! Test it after calling `rvm get master`

[2017-01-26 13:35] robincsamuel commented on #3893
Updated RVM using `rvm get head` and it went fine. Thanks!

[2017-01-26 13:35] #3893 closed

[2017-01-26 15:51] jzakiya commented on #3703
Sorry, specifically what else would you like me to do?
If you tell me the explicit things you would like me to do then I can
follow them.

On Thu, Jan 26, 2017 at 1:04 PM, Piotr Kuczynski <notifications@github.com>
wrote:

[2017-01-26 16:15] pkuczynski commented on #3703
Simple call:

[code]

If that works we are done. If not, please gist the output.

[2017-01-26 16:27] jzakiya commented on #3703
Here is the gist of the output

https://gist.github.com/jzakiya/abfa71af35dc077b6fd53b0eee5eb9a7

When installing, is hangs on the line: Installing required packages:
autoconf, ......

I assumed it was waiting for my root password, so I just enter it, and it
continues on until failing.

On Thu, Jan 26, 2017 at 11:15 AM, Piotr Kuczynski <notifications@github.com>
wrote:

[2017-01-26 16:42] pkuczynski commented on #3703
Ok, we definitely made a progress! Hopefully, we are close...

First of all you are right it was waiting for the password:

[code]

@mpapis how can we make it more explicit to the user he needs to provide the password? Ideas?

Then it fails with the missing package: `lib64readline`. I just updated the PR. Could you try again the same commands:

[code]

Thanks in advance!

[2017-01-26 16:58] jzakiya commented on #3703
Success!!

https://gist.github.com/jzakiya/9a3f7c2495307dfb5d60fd27cdbbf778

However, it still hangs at that line.
There needs to be a way to prompt for the password first to make it clear
to any user what is required.

I appreciate your persistence it getting it this far.

I thank you for all the PCLOS users.

On Thu, Jan 26, 2017 at 11:42 AM, Piotr Kuczynski <notifications@github.com>
wrote:

[2017-01-26 17:01] jzakiya commented on #3703
I just installed ruby-2.4.0 too and all I had to do was

$ rvm install ruby-2.4.0

Since all the dependencies are now installed, it seems it will work with
all the MRI rubies.
Previously I couldn't install any RBX versions, will try the latest now.

On Thu, Jan 26, 2017 at 11:58 AM, Jabari Zakiya <jzakiya@gmail.com> wrote:

[2017-01-26 17:04] pkuczynski commented on #3703
Success! Finally! :)

I will work on the password issue soon. Let me know if there were any problems with RBX

[2017-01-26 17:05] jzakiya commented on #3703
Installing rbx-3.70 failed, shown below.

https://gist.github.com/jzakiya/23e843d28cf4cc488f90fecc9528924f

On Thu, Jan 26, 2017 at 12:01 PM, Jabari Zakiya <jzakiya@gmail.com> wrote:

[2017-01-26 17:09] pkuczynski commented on #3703
@jzakiya I suggest we raise a separate issue for RBX failing on PCLinuxOS so we can merge and close this one. Could you do that please?

[2017-01-26 17:19] jzakiya commented on #3703
Here's additional info on rbx

https://gist.github.com/jzakiya/fbb9dda8bacce173d2de88dff542c88f

On Thu, Jan 26, 2017 at 12:09 PM, Piotr Kuczynski <notifications@github.com>
wrote:

[2017-01-26 17:20] jzakiya commented on #3703
What explicitly do you want me to do?

On Thu, Jan 26, 2017 at 12:09 PM, Piotr Kuczynski <notifications@github.com>
wrote:

[2017-01-26 17:53] philoserf commented on #3759
The change I saw after `rvm get master` is that `ram install ruby-x.y.z` never finds a binary to attempt. This that code path is not exercised.

[2017-01-26 19:52] excelsior commented on #3884
Hey Piotr,

Thanks for a quick reply. I checked out the branch, gave it a try, and faced another error this time:

[code]

I force installed llvm and openssl, updated MRI to 2.4, did some other tweaks, tried again and suddenly it worked for me.

[2017-01-27 13:14] pkuczynski opened #3895 "Installing rbx-3.70 fails on PCLinuxOS 64-bit"
## Description

Installing rbx-3.70 fail on PCLinuxOS 64-bit.

Issue reported by @jzakiya during testing solution for #3703

## Steps to reproduce

`rvm install rbx-3.70`

## Expected behavior

Rubinus 3.70 is installed.

## Actual behavior

Installation fails: https://gist.github.com/jzakiya/23e843d28cf4cc488f90fecc9528924f

Additional info: https://gist.github.com/jzakiya/fbb9dda8bacce173d2de88d

[2017-01-27 13:16] pkuczynski commented on #3703
I wanted you to create a separate issue for rbx. I did it myself to speed up things: #3895. We will continue working on rbx in that thread OK?

[2017-01-27 13:18] pkuczynski commented on #3703
The last thing to sort out here is the sudo password requirement. I prepared another patch. Could you please test it in following way:

[code]

[2017-01-27 13:20] pkuczynski commented on #3703
By the way, does PCLinuxOS have `sudo`. In every other system we call `command sudo "$@"`, but on PCLinuxOS we use `su -c "$*"`. Maybe this hack is not necessary at all?

[2017-01-27 13:33] pkuczynski commented on #3895
I prepared a patch for you. Could you please test it:

[code]

[2017-01-27 13:34] pkuczynski commented on #3886
@bitaxis would you find some time to test it?

[2017-01-27 13:39] pkuczynski commented on #3884
Have you tried running `Try `brew tap --repair` and make sure `brew doctor` looks reasonable.`? Seems like your brew have some issues...?

[2017-01-27 13:39] pkuczynski commented on #3884
I am closing this as the main error is fixed and package installation problem seems to be user machine issue...

[2017-01-27 13:47] #3884 closed

[2017-01-27 14:39] jzakiya commented on #3703
PCLOS uses "su" and not "sudo".

It is in its repos, but would have to be manually installed by a user.

Here is gist of successful installation of ruby-2.3.1.

https://gist.github.com/jzakiya/4bc3cfcf5ca71709f5412f77b2e28240

On Fri, Jan 27, 2017 at 8:20 AM, Piotr Kuczynski <notifications@github.com>
wrote:

[2017-01-27 14:49] jzakiya commented on #3895
It went through much of the install process until failing.

https://gist.github.com/jzakiya/acfd3e4841d48cc2c2fe99fc595415ea

On Fri, Jan 27, 2017 at 8:33 AM, Piotr Kuczynski <notifications@github.com>
wrote:

[2017-01-27 14:53] pkuczynski commented on #3895
Could you please gist `/home/jzakiya/.rvm/log/1485528013_rbx-3.70/rake.log`?

[2017-01-27 14:59] jzakiya commented on #3895
I've attached it.

On Fri, Jan 27, 2017 at 9:53 AM, Piotr Kuczynski <notifications@github.com>
wrote:

[2017-01-27 19:08] tlubz commented on #3724
I know this is closed, but I had the same error when installing 2.3.1, and i solved it by issuing a `brew install openssl --force`, which fixed the problem and did not require me to manually delete any brew-managed folders manually.

from my `package_install_openssl.log`:

[code]

The version that was previously in opt was `1.0.2j`, but it was not a symlink. The new version installed was `1.0.2k`

[2017-01-27 20:01] noahgibbs commented on #3734
I'm not able to get build latest ruby-head in RVM either, and haven't been able to for weeks. Works fine outside rvm.

[2017-01-28 00:15] mpapis commented on #3734
@noahgibbs did you try the `ignore` flag from above? => `rvm install ruby-head --rubygems ignore`?

[2017-01-28 01:51] noahgibbs commented on #3734
I got it to work with --rubygems 2.6.6. Didn't try ignore.

[2017-01-28 15:53] novel opened #3897 "Error: stack level too deep"
Please remove.

[2017-01-28 16:07] #3897 closed

[2017-01-29 03:01] bitaxis commented on #3886
Sure.  I'll try to do so in the next few days.

[2017-01-30 00:13] Reeqz opened #3898 "İnstalling Ruby-2.4.0 Problem"
Hi ı have a issue. İ am new on Linux, and my english is a little bad. I read #3680 #3675 but my problem is contionues.  I am use Kali Linux 4.6.0

I run this code
`rvm install ruby-2.4.0`

But I am facing such a problem
`rvm install ruby-2.4.0
Searching for binary rubies, this might take some time.
No binary rubies available for: debian/Kali_Linux_Rolling/x86_64/ruby-2.4.0.
Continuing with compila

[2017-01-31 05:48] bitaxis commented on #3886
@pkuczynski, I rolled back my hack, verified that ```rvm install 2.4.0``` still resulted in expired SSL certificate, and tried your patch.

Unforunately, the result is the same.  I still get the same error...

[2017-01-31 10:37] pkuczynski commented on #3886
Thanks for helping me with this.

I forgot to mention that you need to run `rvm osx-ssl-certs update`. Sorry for that. After that check if `/opt/local/share/curl/curl-ca-bundle.crt` has been updated.

If it has not, please get the latest patch again, as I added some more debugging information and post the output.

[code]

Thanks for all your help on making RVM better!

[2017-01-31 23:59] lowang-trover opened #3899 "Trouble installing ruby-1.9.3-p194"
## Description

When I type in `rvm install ruby-1.9.3-p194-perf`, it throws an error. I condensed the log hence the ellipses. Please look at [this gist](https://gist.github.com/lowang-trover/2355a2609607d8f9cfc0bef8361d7a93) for the full log.

Note: I got this error before when I try to brew install bundler and do other bundler commands. I suspect this error might have to do with rvm, gems, and p

[2017-02-01 04:35] bitaxis commented on #3886
I rolled back my hack again and ran these commands:

[code]

The second command yielded the following output:

[code]

I checked ```/opt/local/share/curl/curl-ca-bundle.crt```, and it was unmodified.  I even ```diff```'d the file against a copy from before I ran the commands, and no differences were found.

[2017-02-01 17:23] pkuczynski commented on #3895
Attaching to email does not work. You need to gist it and send link to this gist.

[2017-02-01 17:27] pkuczynski commented on #3898
Clearly, there is some problem with your `apt` settings. Can you try to manually run `apt-get install automake` for example?

[2017-02-01 21:06] sverasch opened #3900 "errors when using Darwin and Homebrew awk"
## Description

If a Darwin system has a separate awk installed, depending on the PATH load order, rvm will output an error of

awk: illegal statement
 source line number 1

## Steps to reproduce

 1. install rvm
 2.  install homebrew
 3. brew install awk
 4. change path to load brew binaries first or
 5. PATH=/usr/local/bin:$PATH source ~/.rvm/scripts/rvm

## Expected behavior

No awk errors appe

[2017-02-01 21:07] sverasch commented on #3900
I fixed this by using the full path in scripts/functions/detect_system, however __rvm_awk variable needs to be changed as well for rvm info to work correctly

[2017-02-01 23:50] jzakiya commented on #3895
Here's gist of rake, it;s 4171 lines long.

https://gist.github.com/jzakiya/5860d8d388db429f60beeae73fd0906e

On Wed, Feb 1, 2017 at 12:23 PM, Piotr Kuczynski <notifications@github.com>
wrote:

[2017-02-02 09:44] habovh opened #3901 "Impossible to install Rubinius on macOS because of deleted llvm35 brew formulae"
## Description

I'm trying to install `rbx-3.7` on macOS Sierra 10.12.3, and it fails because `rvm` forces the `llvm35` dependency, which formulae has been removed from homebrew repositories (including boneyard).

Apparently, in this #3722 you decided to force the dependency to match Rubinius needs, but I think this might be outdated.

Isn't Rubinius capable of build on a more recent `llvm` versio

[2017-02-02 09:52] habovh commented on #3901
## Update

It seems that `llvm35` is not supported on macOS Sierra or newer.
We might need to have Rubinius building on more recent version of `llvm`.

[2017-02-02 11:16] pkuczynski commented on #3901
This has been fixed in #3884. Try with latest RVM (not released yet):

[code]

[2017-02-02 11:16] #3901 closed

[2017-02-02 11:19] habovh commented on #3901
Thank you very much! Despite doing some research I did not encounter the issue you referenced. Sorry about the duplicate!

[2017-02-02 11:29] pkuczynski commented on #3901
Not a problem at all. Let me know if the issue is fixed...

[2017-02-02 15:05] Erichliu00 commented on #3411
In addition to @megamos , I found this may also be useful: running `rvm autolibs disable` before `rvm install ruby`

[2017-02-02 16:28] pkuczynski commented on #3703
@jzakiya could you try one more time:

[code]

I would expect you to see a prompt for password.

[2017-02-02 17:45] jzakiya commented on #3703
It still hangs same place:

[jzakiya@localhost ~]$ rvm install ruby-2.3.1
Searching for binary rubies, this might take some time.
No binary rubies available for: pclinuxos/2017/x86_64/ruby-2.3.1.
Continuing with compilation. Please read 'rvm help mount' to get more
information on binary
rubies.

Checking requirements for pclinuxos.
Installing requirements for pclinuxos.
Updating system.
Installing

[2017-02-03 10:17] habovh commented on #3901
Hey, reporting back after using `rvm get head`. Turns out it does change something but does not actually allow to install Rubinius properly.
The requirements check performed by RVM now successfully passes, however when calling the `./configure`, the command fails with the following output:

[code]

So I'm still unable to build Rubinius on macOS Sierra.
But now I'm afraid the issue comes from Rubin

[2017-02-03 13:18] Reeqz commented on #3898
I worked this way: `apt-get install automake` İs this true ? İf true

`Reading package lists... Done
Building dependency tree
Reading state information... Done
Package automake is not available, but is referred to by another package.
This may mean that the package is missing, has been obsoleted, or
is only available from another source`

Is the 'automake' value there variable? I dont understand.

[2017-02-03 15:44] charazn commented on #3690
I just tried the patch but get this:

[code]

Any ideas?

[2017-02-03 15:47] charazn commented on #3861
Please see https://github.com/rvm/rvm/issues/3690#issuecomment-277281483

[2017-02-03 18:48] JusticeForMikeBrown opened #3902 "~/.rvm/scripts/hook: line 17: rvm_hooks_path: unbound variable"
## Description

We are sequencing genomes, for the purpose of understanding the causes of various terminal diseases, using a custom ruby-based pipeline of software with RVM 1.25.28 and ruby 1.9.3p448.  RVM, ruby, and all other dependencies, exist on a NFS-exported home directory across a group of servers.  We can run our pipeline successfully on the older RHEL 6.3 servers.   I built a new CentOS 6

[2017-02-04 11:49] tompave commented on #3690
I think it's because this has since being merged, thus github responds with 404 (not found).
You can try `rvm get stable` to update your RVM.

Also, apologies for not getting back to the team when they asked to check if the patch worked. :-(

[2017-02-04 11:55] tompave commented on #3690
Actually, it looks like that PR was merged targeting `1.29`, while the stable version is still `1.28`.

Try `rvm get head` instead @charazn.

[2017-02-04 23:07] jstray commented on #3724
Same problem here on Mac OS 10.11.6. `brew upgrade openssl` fixed it.

[2017-02-05 05:27] navjeetc commented on #3724
`brew upgrade openssl` fixed the same problem for me also on macOs Sierra

[2017-02-05 11:03] agimenez commented on #3862
This patch worked for me as a workaround. Newer Debian versions still keep the old 1.0 libssl version:

[code]

[2017-02-06 05:09] allavena commented on #3862
Sorry, I missed the earlier question.

I have openssl 1.1.0c-2 installed (current in debian testing) - No trace of
openssl 1.0 installed (although libssl1.0-dev is available)

Ruby 2.4 builds and works fine.  (This was ruby-2.4.0-preview3).

Thanks
André

On 5 February 2017 at 21:04, L. Alberto Giménez <notifications@github.com>
wrote:

[2017-02-06 09:22] habovh commented on #3901
@pkuczynski any news on this?

[2017-02-06 15:40] anandaroop commented on #3724
`brew upgrade openssl` also fixes the problem on Yosemite 10.10.5

[2017-02-06 16:13] pkuczynski commented on #3886
Ok, I made some further changes. Could you please run:

[code]

If if does not work you can also try:

[code]

Please post both gists if any of the above failed.

[2017-02-06 16:16] pkuczynski commented on #3703
@jzakiya thanks for all your testing! Can you please run again and post the gist:

[code]

I would expect you to see a prompt for password this time...

[2017-02-06 17:04] pkuczynski commented on #3901
It looks like there is some old trash somewhere. Could you list output of:

[code]

[2017-02-06 17:36] jzakiya commented on #3703
Yes, this created a proper password prompt.

The rvm.log file has 2,069,100 bytes and 16,487 lines.

https://gist.github.com/jzakiya/147f8646ffa48d706545465a5bd9c53f

I installed another ruby (2.2.6), which worked as expected.

Thank you for your work!

Is there anything else you need me to do?

Jabari

On Mon, Feb 6, 2017 at 11:16 AM, Piotr Kuczynski <notifications@github.com>
wrote:

[2017-02-06 17:50] pkuczynski commented on #3703
How about now:

[code]

Does this create proper password prompt? I would expected you to see a line:

[code]

[2017-02-06 17:50] pkuczynski commented on #3703
Hope this is one of the last things I ask in this ticket :)

[2017-02-06 17:51] pkuczynski commented on #3898
Can you try to run following commands:

[code]

And gist the output for me.

[2017-02-06 17:58] jzakiya commented on #3703
Sorry not yet. :(

[jzakiya@localhost ~]$ rvm install ruby-2.3.1
Searching for binary rubies, this might take some time.
No binary rubies available for: pclinuxos/2017/x86_64/ruby-2.3.1.
Continuing with compilation. Please read 'rvm help mount' to get more
information on binary rubies.
Checking requirements for pclinuxos.
Installing requirements for pclinuxos.
Updating system.
Installing required

[2017-02-06 18:13] habovh commented on #3901
`brew list` output:
[code]

`brew info llvm` output:
[code]

[2017-02-06 18:15] pkuczynski commented on #3862
Note: `libssl1.0-dev` is available starting from Debian Stretch (testing)

[2017-02-06 19:13] pkuczynski commented on #3862
I prepared a patch for this issue. @shell-permission @allavena could you please test it:

[code]

[2017-02-06 19:34] pkuczynski commented on #3901
Try latest RVM:

[code]

[2017-02-06 19:47] pkuczynski commented on #3690
Correct. Use `rvm get master` to get latest RVM (including unreleased patches)

[2017-02-07 07:45] allavena commented on #3862
The patch worked for me. I was able to install ruby-2.3.3 from that branch.

Even better, I earlier had puma-3.6 failing during compile (on open-ssl
related issue). THis time, it installed fine (though I didn't check, there
is a possibility I could have had a version already compiled of the gem
running around?)

Thanks for the patch.

André

On 7 February 2017 at 05:13, Piotr Kuczynski <notificati

[2017-02-07 08:48] constdrop commented on #3744
I had same issue. 'xcode-select --install' worked on my OSX El Captain and fix it.

[2017-02-07 10:32] dagnyswaggart opened #3906 "OpenSSL vs libressl conflict installing ruby-2.4.0 on openSUSE Tumbleweed"
## Description

Rvm won't install 2.4.0 on normal opensuse tumbleweed install due to conflict between libopenssl-devel and libressl-devel

## Steps to reproduce

 1. install rvm
 2. ```rvm install 2.4.0```
 3. put in root password for zypper when prompted

## Expected behavior

RVM successfully installs Ruby 2.4.0 and all needed dependencies.

## Actual behavior

https://gist.github.com/dagnyswagg

[2017-02-07 10:46] pkuczynski commented on #3906
I prepared a patch. Could you please try:

[code]

In case it fails please provide gist with the output.

[2017-02-07 11:07] dagnyswaggart commented on #3906
@pkuczynski works fine, thanks for the ridiculously fast response!

[2017-02-07 11:21] pkuczynski commented on #3906
Lucky moment :) I will get that merged to master and release soon...

[2017-02-07 20:27] #3906 closed

[2017-02-07 22:08] mpapis commented on #3703
I tracked down the problem to https://github.com/rvm/rvm/blob/master/scripts/functions/utility_logging#L181-L216 - especially lines 206 or 213 where we do `2>/dev/null`

we could save the stderr early before we call to `__rvm_log_dotted`, probably somewhere during initialization:
[code]
and then in `__rvm_setup_sudo_function_PCLinuxOS`:
[code]

[2017-02-07 22:27] #3675 closed

[2017-02-07 22:48] #3862 closed

[2017-02-07 22:53] pkuczynski commented on #3886
@bitaxis any chance to get this tested (hopefully the last time)?

[2017-02-07 22:58] dshukertjr opened #3909 "Error running '__rvm_make -j 1'"
When I run
rvm use ruby --install --default

I get the following error:

Error running '__rvm_make -j 1',
showing last 15 lines of /Users/tylershukert/.rvm/log/1486507650_ruby-2.3.3/make.log
compiling ./missing/setproctitle.c
compiling dmyenc.c
linking miniruby
config.status: creating ruby-runner.c
generating encdb.h
dyld: lazy symbol binding failed: Symbol not found: _clock_gettime
  Referenced f

[2017-02-07 23:01] pkuczynski commented on #3895
Could you please try again and gist both output and new `rake.log`

[code]

[2017-02-07 23:03] pkuczynski commented on #3909
We need some more info, like `rvm info`

[2017-02-07 23:03] pkuczynski commented on #3909
Have you tried

[code]

[2017-02-07 23:06] dshukertjr commented on #3909
Thank you for the quick reply

here is what I got with rvm info:

system:

  system:
    uname:       "Darwin Tylers-MacBook-Air.local 15.6.0 Darwin Kernel Version 15.6.0: Thu Jun 23 18:25:34 PDT 2016; root:xnu-3248.60.10~1/RELEASE_X86_64 x86_64"
    system:      "osx/10.11/x86_64"
    bash:        "/bin/bash => GNU bash, version 3.2.57(1)-release (x86_64-apple-darwin15)"
    zsh:         "/bin/zs

[2017-02-07 23:10] Cynth42 commented on #3330
I'm trying to update ssl certificate and I'm being asked for password.  Don't know what password they are asking for.  Somebody please help me-thanks
Updating certificates for /etc/openssl/cert.pem: Updating certificates in '/etc/openssl/cert.pem'.
 password required for 'command tee /etc/openssl/cert.pem':
Sorry, try again.
 password required for 'command tee /etc/openssl/cert.pem':

[2017-02-07 23:11] pkuczynski commented on #3330
It needs `root` password.

[2017-02-07 23:13] Cynth42 commented on #3330
it needs root password and i'm not sure what the root password is

[2017-02-07 23:14] pkuczynski commented on #3846
This should be already fixed

[2017-02-07 23:14] #3846 closed

[2017-02-07 23:19] pkuczynski commented on #3674
Closing due lack of feedback.

[2017-02-07 23:19] #3674 closed

[2017-02-07 23:20] jdzak opened #3910 "df: ‘/home/myapp/.rvm’: No such file or directory"
## Description

RVM fails to install. When I run `curl -L https://get.rvm.io | bash -s stable --autolibs=disable` I get the error, `df: ‘/home/myapp/.rvm’: No such file or directory`.

## Steps to reproduce

 1. run `curl -L https://get.rvm.io | bash -s stable --autolibs=disable`

## Expected behavior

RVM should install

## Actual behavior

 I get the error, `df: ‘/home/myapp/.rvm’: No such file

[2017-02-07 23:22] jdzak commented on #3910
This commit may be related. https://github.com/rvm/rvm/commit/71a89a208f74b1c977cbd776fb364f0219cd1d69

[2017-02-07 23:25] kalinchuk commented on #3910
Same issue. Started happening recently.

[2017-02-07 23:25] pkuczynski commented on #3539
@burningTyger why `jre8-openjdk-headless` and not `jre8-openjdk`?

[2017-02-07 23:28] #3539 closed

[2017-02-07 23:33] pkuczynski commented on #3910
@jdzak indeed this possibly broke it, but not sure yet why...

[2017-02-07 23:38] pkuczynski commented on #3330
Then it wont work.

[2017-02-07 23:48] Cynth42 commented on #3330
Thank you! are there other options?

[2017-02-07 23:56] jyanko commented on #3910
I started seeing this 'df' error after lunch today.

Prior to lunch, had gotten it installed by doing the following...

[code]

...after lunch, was going to deal with adding user(s) to the 'rvm' group.   For some reason, decided to do rvm implode and start over.

That's when I discovered the inability to install rvm from either stable or a specific version...

[code]

[2017-02-08 00:10] dferrantelli opened #3911 "get.rvm.io points at master install script, which is currently broken"
## Description

get.rvm.io points at master install script, which is currently broken (exits with error code 1 and no text) the exit line with trace lands on the noexec test on line 790

## Steps to reproduce

attempt to install rvm using get.rvm.io

## Expected behavior

rvm will install

## Actual behavior

./rvm-install -trace
+ ./rvm-installer.sh : rvm_install_parse_params()  566 > rvm_trace_f

[2017-02-08 01:44] PhenomHTPC commented on #3910
I had the same issue while trying to install RVM on my Mac today. I went to the IRC and got help from @havenwood. This is how we got it to at least install

1. Navigate to your home directory.
2. curl -sSL https://github.com/rvm/rvm/tarball/stable -o ~/rvm-stable.tar.gz
3. mkdir ~/rvm && cd ~/rvm && tar --strip-components=1 -xzf ~/rvm-stable.tar.gz
4. ./install
5. Profit

However I am still unable

[2017-02-08 02:40] tsangha commented on #3910
@PhenomHTPC

as you mentioned, I now see a .rvm and a rvm.

If i try to do 'rvm install 2.3', i get 'find: /Users/T/rvm/rubies: No such file or directory',
but if I look in /.rvm/, I see a rubies folder...any ideas?

[2017-02-08 02:53] alanswanht commented on #3898
I have a similar issue with a different dependency, openssl.

    $ rvm install ruby-2.4.0
    Searching for binary rubies, this might take some time.
    Found remote file https://rubies.travis-ci.org/osx/10.12/x86_64/ruby-2.4.0.tar.bz2
    Checking requirements for osx.
    Updating Homebrew...
    Installing requirements for osx.
    Updating system.....
    Installing required packages: openss

[2017-02-08 02:56] PhenomHTPC commented on #3910
@tsangha

hmm I did "rvm install ruby-2.4.0" and it seemed to install ruby just fine.

Maybe try that?

[2017-02-08 03:40] jzakiya commented on #3895
Install didn't succeed. Here's rake.log gist.

https://gist.github.com/jzakiya/8e6ffc1aa02fb4b819d02b1498d3e8f0

On Tue, Feb 7, 2017 at 6:01 PM, Piotr Kuczynski <notifications@github.com>
wrote:

[2017-02-08 05:19] havenwood commented on #3910
Closing for now since 556c42a temporarily reverts the installer changes causing this issue.

[2017-02-08 05:19] #3910 closed

[2017-02-08 05:22] havenwood commented on #3911
This should be resolved with the temporary revert of the related installer code in 556c42a. Thanks for the report!

[2017-02-08 05:22] #3911 closed

[2017-02-08 05:24] havenwood commented on #3832
Reopening because this fix was temporarily reverted in 556c42a since it was causing people to be unable to install or update.

[2017-02-08 09:43] pkuczynski commented on #3898
@alanswanht could you please run `rvm autolibs enable`, then fix all the issues listed by `brew doctor` and then try again? In case it still fails please open a new issue, as this one was for a different platform

[2017-02-08 09:44] pkuczynski commented on #3898
Closing this issue due lack of feedback from @Reeqz (please reopen if issue persist).

[2017-02-08 09:44] #3898 closed

[2017-02-08 10:04] alanswanht commented on #3898
@pkuczynski  I ran `rvm autolibs enable` but it didn't do anything for me because (I'm thinking) `mode '4'` is already 'enable'.
However, I managed to solve my issue with `brew install openssl --force` so I will not open a new issue.

[2017-02-08 10:17] pkuczynski commented on #3898
A couple of people reported the issue with openssl install with brew and that they need to force it. I will prepare a patch which does that, so in the future, it would not be required...

[2017-02-08 11:09] #3866 closed

[2017-02-08 12:48] pkuczynski commented on #3824
@cg2v there is no `libssl1.0-dev` package for Ubuntu 16.10, but only `libssl-dev`. However there is `libssl1.0.0` package - not sure if that is equivalent to `libssl1.0-dev` or not?

[2017-02-08 13:03] pkuczynski commented on #3779
@Fire-Dragon-DoL @brukatv this should be fixed now. Can you try

[code]

[2017-02-08 13:05] pkuczynski commented on #3417
Seems it was not the RVM issue.

[2017-02-08 13:05] #3417 closed

[2017-02-08 15:25] pkuczynski opened #3915 "Add support for Chocolatey package manager for Windows"
[Chocolatey](https://chocolatey.org) is the sane way to manage software on Windows. RVM should be present there as a packaged installable via:

[code]

More info: https://chocolatey.org

[2017-02-08 16:30] habovh commented on #3901
@pkuczynski any news? I even tried with the latest version of rvm using `rvm get head`, still no luck.
Were you able to reproduce the issue?

[2017-02-08 16:46] simongareste commented on #3898
@pkucznynski : A bit more info on the @alanswanht issue: when running with --trace, you see

[code]

So (didn't check more in depth) it seems that it's looking for the latest openssl, which wasn't installed. brew upgrade openssl fixed it.

[2017-02-08 16:56] simongareste opened #3916 "2.4.0 install looks a library in an unexisting user path"
## Description

When installing 2.4.0 on Mac OS X, a library lookup for libruby.2.4.0.dylib checks a (I think) bad path:

Given that I'm not travis, I don't expect anything to be found there.

## Steps to reproduce

On Mac OS X Sierra, rvm recently installed:
`rvm install 2.4.0`
## Expected behavior

It should check in my own user space for the library

## Actual behavior

[code]

## Environment i

[2017-02-08 17:00] pkuczynski commented on #3916
This should fix your problem:

[code]

[2017-02-08 17:00] #3916 closed

[2017-02-08 19:28] alexsoares opened #3917 "I can't install a ruby version"
## Description

I made the mistake of to execute 'rvm_pkg' command, and now everytime i need install a new version of ruby, the installation stay stopped witch de bellow message:
Installing requirements for rvm_pkg.
Updating system.
Installing required custom packages: libtool..

## Steps to reproduce

 1. run 'rvm autolibs rvm_pkg'
 2. run any rvm install ruby version
 Just It

## Expected behavi

[2017-02-08 20:50] tsolar commented on #3824
I tried `rvm get head && rvm reload && rvm autolibs reset && rvm reinstall 2.3.3` and I got this:

[code]

It seems it is still trying to install `libreadline6-dev`?

[2017-02-09 02:07] Fire-Dragon-DoL commented on #3779
Thanks, great!

[2017-02-09 02:07] #3779 closed

[2017-02-09 09:31] mame82 commented on #3862
I have still issues compiling 2.3.3 on Kali Linux, which seam to be caused by openssl:

[code]

Relevant output in make.log
[code]

As the fixing branch is merged back into master, I thought I don't have to do additional steps beside running ``rvm install 2.3.3`` or should I?

[2017-02-09 09:35] mame82 commented on #3862
Here's the system info with installed ruby-2.4.0, but 2.3.3 is needed to get metasploit working:

[code]

[2017-02-09 12:25] xch0911 opened #3918 "How to reboot GitLab 6.3.1?"
## My gitlab was shunt down.

## Expected behavior
do this `sudo /etc/init.d/gitlab start`
then
Starting unicorn: /usr/local/rvm/rubies/ruby-1.9.3-p392/lib/ruby/site_ruby/1.9.1/rubygems/dependency.rb:315:in `to_specs': Could not find 'bundler' (>= 0) among 8 total gem(s) (Gem::LoadError)
Checked in 'GEM_PATH=/home/git/.gem/ruby/1.9.1:/usr/local/rvm/rubies/ruby-1.9.3-p392/lib/ruby/gems/1.9.1', exec

[2017-02-09 12:48] pkuczynski commented on #3917
Try to run `rvm autolibs enable` and then install ruby.

[2017-02-09 13:30] pkuczynski commented on #3824
Could you please run `rvm get master` and post gist with the output of the following commands:

[code]

I extended the `rvm info` to better understand where is the problem. Could be that we incorrectly recognize

[2017-02-09 13:33] pkuczynski commented on #3918
This does not look like a RVM issue. It looks like your `GEM_PATH=` is pointing to some incorrect folders...

[2017-02-09 13:33] #3918 closed

[2017-02-09 13:44] ngollan commented on #3824
Building on debian testing (reporting as 9.0) now appears to be completely broken in master as well; it (still) expects both readline6-dev and readline-dev:

https://gist.github.com/ngollan/39fdb49e5ec31e21b1971a96e7214323

[2017-02-09 14:21] #3824 closed

[2017-02-09 14:22] pkuczynski commented on #3824
Apologies. It was a bad merge on my side. Could you `rvm get master` and try again please?

[2017-02-09 14:33] tsolar commented on #3824
Oh no. Guess what. There is no package `libreadline` in Debian :/
There is `libreadline-dev` and `libreadline7`.

`libreadline-dev` depends on `libreadline7` now, so I guess it is not needed to put it in the requirements.
Just putting `libreadline-dev` should work.

[2017-02-09 14:42] ngollan commented on #3824
For libssl development packages, there's a `libssl-dev` package which is currently at 1.1.0 versions for testing and unstable, and a separate `libssl1.0-dev`.

The 1.0 package is marked as transitional, so it doesn't sound like the best thing to target.

[2017-02-09 15:11] tsolar commented on #3824
@ngollan but ruby works with libssl1.0, not with libssl1.1.0, right? Maybe new versions of ruby (>2.4) can work with 1.1?

[2017-02-09 15:43] ngollan commented on #3824
@tsolar seems like it, I probably lost the 1.0 headers and libs during a dist-upgrade recently. Building 2.3.3 with 1.1 yields some eclectic errors.

[2017-02-09 18:08] pkuczynski commented on #3824
I just pushed a fix to master for using only `libreadline-dev`. When it comes to `libssl1.0` it is required for ruby older than 2.4, and is only required by the older versions. So all should work now. Let me know if it still does not?

[2017-02-09 18:31] tsolar commented on #3824
Yay! It worked!

[2017-02-09 18:47] pkuczynski commented on #3824
Finally! Sorry it took so much time...

[2017-02-09 20:05] pkuczynski commented on #3862
@mame82 please create a separate ticket for Kali Linux not being able to install ruby 2.3.3. I think I know what might be the problem, but I want to keep as a separate task.

[2017-02-09 21:19] TheBokiya commented on #3724
I can confirm that `brew install openssl --force` fixes the issue on El Capitan.

[2017-02-09 23:59] pkuczynski commented on #3724
As quite a few people report that enforcing brew to install newer openssl help them to solve the ruby build issue, we will try to provide a solution for it...

[2017-02-10 01:28] amontalban commented on #3824
Hey guys,

I'm having issues with RVM on Debian 8 (Jessie), it works ok on stable 1.28.0 but with master branch it shows this error:

[code]

**rvm version:**

[code]

**rvm info:**
[code]

Any help is highly appreciated!

Thanks

[2017-02-10 04:17] roeintense commented on #3624
Same issue.

[code]

[2017-02-10 05:03] rpolasek opened #3921 "Replace StartCom https certificate with LetsEncrypt"
## Description

i have a trouble to execute "rvm get head". it always finishes with error message "Could not download rvm-installer, get some help at #rvm IRC channel at freenode servers." and return error code is 60.

## Steps to reproduce

execute "rvm get head" on gentoo

## Actual behavior

can't update rvm - not only gentoo ca-certificates distrusts StartCom, which rvm uses at the moment.

##

[2017-02-10 12:46] #3724 closed

[2017-02-10 14:01] pkuczynski commented on #3898
@simongareste this should be fixed with this PR https://github.com/rvm/rvm/pull/3920

[2017-02-10 14:05] pkuczynski commented on #3901
@habovh could you please raise a separate issue for building rbx-3.7* on macOS Sierra? You can refer to this issue over there.

You can also attempt another try with some latest changes to master:

[code]

This forces linking llvm by brew, so could be helpful in your case.

[2017-02-10 14:11] mpapis commented on #3921
we will look into switching to letsencrypt

[2017-02-10 14:40] pkuczynski commented on #3624
@roeintense and others, could you post output of `rvm info`?

[2017-02-10 14:44] pkuczynski commented on #3824
In the future please report a separate issue instead of polluting old one! Could you please try `rvm autolibs enable` and then run whatever you tried to run. This should solve all packages dependencies.

[2017-02-10 19:39] michaelcippolito commented on #3624
@pkuczynski I am also getting the same error "Archives path '/usr/share/rvm/archives' not writable, aborting."

rvm info output is as follows:

[code]

[2017-02-11 09:52] sigu commented on #3630
sorry I am resurrecting this but I made a simple work around for this. The command goes to the parent directory then back to the directory. RVM will be picked up correctly
1. Add the following function  to your `.bashrc` file
[code]
2. Execute the function from `.profile` file as the last line (this is to ensure that rvm is fully loaded to the path before running the command)
[code]

[2017-02-12 13:51] mpapis commented on #3703
@jzakiya I have added the proposed fix, can you check if it's asking for password now?

[2017-02-12 16:27] jzakiya commented on #3703
Ta da, dat did dit!  😂

[jzakiya@localhost ~]$ rvm install ruby-2.3.1
Searching for binary rubies, this might take some time.
No binary rubies available for: pclinuxos/2017/x86_64/ruby-2.3.1.
Continuing with compilation. Please read 'rvm help mount' to get more
information on binary rubies.
Checking requirements for pclinuxos.
Installing requirements for pclinuxos.
Updating system.
Installing requ

[2017-02-12 16:34] jzakiya commented on #3703
Here the gist of the whole process.

https://gist.github.com/jzakiya/2a6e1428523e219a23b829698a273579

On Sun, Feb 12, 2017 at 11:26 AM, Jabari Zakiya <jzakiya@gmail.com> wrote:

[2017-02-12 16:39] jzakiya commented on #3703
I'm going to delete all those old gists on this issue on Monday, Feb 13,
2017, so if you need them please download them before tomorrow.

On Sun, Feb 12, 2017 at 11:34 AM, Jabari Zakiya <jzakiya@gmail.com> wrote:

[2017-02-12 17:11] #3703 closed

[2017-02-12 17:24] mpapis commented on #3902
please check with:
[code]

[2017-02-12 17:25] #3845 closed

[2017-02-12 17:26] mpapis commented on #3840
did you check <http://rvm.io/integration/gnome-terminal>?

[2017-02-12 21:40] bitaxis commented on #3886
@pkuczynski,

I ran

[code]

But the file ```/opt/local/share/curl/curl-ca-bundle.crt``` didn't get touched at all.

Then I ran the variant with the ```--force``` option:

[code]
This time, the file ```/opt/local/share/curl/curl-ca-bundle.crt``` got touched, but the content is identical.

Then I ran rest of the commands, but to no avail:

[code]

[2017-02-12 21:41] felixbuenemann opened #3923 "Missing ruby 2.4 OpenSSL support on macOS / Homebrew"
## Description

On current RVM master (0092bcf) when installing ruby-2.4.0 on macOS 10.12.3 with Homebrew, ruby is compiled without openssl support.

During `gem install` the following message is shown:

[code]

This problem does not exist in the current stable version 1.28.0.

The difference seems to be that on master `openssl@1.1` homebrew package is installed instead of `openssl` and the path f

[2017-02-13 10:13] franklinyu commented on #3923
`\curl -sSL https://get.rvm.io | bash -s stable` gives me `1.29.0 (latest)`. I am not clear why is that, since the `stable` branch has file `/VERSION` with content `1.28.0`.

[2017-02-13 10:31] franklinyu commented on #3923
I think #3886 may be related?

[2017-02-13 10:41] felixbuenemann commented on #3923
I don't think that #3886 is related, it seems to be a problem with the curl certificate bundle, while this issue is that openssl support is not compiled in.

[2017-02-13 10:45] felixbuenemann commented on #3923
That appears to be a bug or wrong comments in the install script. If you look at the code, "stable" maps to the "latest" version, which in turn is the newest tagged version and not the version from the stable branch, as the initial comment in the script suggests.

[2017-02-13 11:04] franklinyu commented on #3923
Ok, let me try `\curl -sSL https://get.rvm.io | bash -s branch stable`

[2017-02-13 11:45] franklinyu commented on #3923
Ok that works. There were still two non-blocking issues about OpenSSL, and I'm not sure whether they are related to this issue or not.

### failed to automatically install/update OpenSSL

When I install Ruby 2.4.0, with RVM 1.28.0, `--debug` flag on, it gives

[code]

According to the `autolibs` page, 4 and `enable` should be equivalent, so I think it's possibly a bug. I worked around it by manual

[2017-02-13 11:47] franklinyu commented on #3923
Which gem were you trying to install? I managed to install Bundler without issue. Maybe because RVM compiled the Ruby?

[2017-02-13 12:01] felixbuenemann commented on #3923
I tried `gem install bundler`, but it doesn't matter because rubygems always uses https.

Tha appears to be an autolibs issue, but in my case autolibs automatically installed `openssl@1.1` so that appears to be something different.

I've seen that problem as well, 1.28.0 stable tries to install an ruby binary that's compiled for Travis CI environment or if it is supposed to use those binaries, RVM

[2017-02-13 12:17] franklinyu commented on #3923
So the second issue is probably fixed in `master`? Good to hear that. :tada:

You meant that, although `gem install bundler` worked for me, I may still encounter this issue?

[2017-02-13 12:42] felixbuenemann commented on #3923
No, seems like it's working for you.

Are you also using homebrew on El Capitan and did it install/use `openssl@1.1` or is it still using the `openssl` package (which is OpenSSL 1.0.2).

Btw. instead of running `gem install` you could also use something like `ruby -ropenssl -e 'puts OpenSSL::OPENSSL_VERSION'` which should only work if openssl is compiled in and will show which version it was compi

[2017-02-13 13:54] amontalban commented on #3824
Hi @pkuczynski,

Sorry if I polluted this issue, but I saw that it was still active and was related to the issue I have.

`rvm autolibs enable` works but I think it's not the right solution because:

1) I have all required dependencies installed.
2) I'm running rvm in a non-sudo user inside Docker.
3) rvm is not installing missing packages when I run `rvm install ruby-2.2.5`

Please let me know if

[2017-02-13 15:00] mhmenon910 commented on #3729
@madman3  How did you solved this issue ?  Iam having same problem in MAC OSX El captain , i have even tried following way as per @pkuczynski , bt no luck!
rvm get master
rvm install 2.3.1

It would be helpful if anybody can point me solution to this.
Thanks

[2017-02-13 17:30] pkuczynski commented on #3824
Please open a new issue and specify your working env and which packages are missing

[2017-02-13 22:21] franklinyu commented on #3923
Thanks for the information! My Ruby 2.4.0 in RVM is compiled against OpenSSL [1.0.2k](https://github.com/openssl/openssl/releases/tag/OpenSSL_1_0_2k).

[2017-02-14 01:05] lunaru opened #3924 "Output of `rvm info` is no longer YAML compatible."
## Description

In rvm 1.29 the output of `rvm info` is no longer YAML compatible.

## Steps to reproduce

Run `rvm info` and note there is a key called `remote path`, but YAML cannot have spaces in keys.

## Expected behavior

I'm actually not sure if the intention is for `rvm info` to have a YAML compatible output, but it seems this way as there are gems in the wild that run YAML.load() on the r

[2017-02-14 02:20] lunaru commented on #3924
It also seems that the output of `rvm info`'s `updated` field is missing a `"` at the end of the line.

[2017-02-14 03:46] iamclaytonray commented on #3923
So what solution did you come to? I have a fresh install of Sierra and trying to get rvm up and running, but I am running into the same OpenSSL issues. I've lived on Stack Overflow for the past 24 hours trying to figure it out a couple of other developers tried to help me too, but we haven't seen any luck.

[2017-02-14 04:09] grg28 commented on #3923
i came across this same issue. after reading @felixbuenemann 's

i rolled back my rvm version to `rvm get 1.28.0`  and everything was normal.

[2017-02-14 04:18] iamclaytonray commented on #3923
@grg28 I'm still getting the same error from OpenSSL. Did you do anything else? I assume you are also running ruby 2.4.0?

[2017-02-14 04:43] mlilley commented on #3923
I'm seeing similar problems with ruby 2.3.3

On Yosemite, openssl 1.0.2k (homebrew), and a fresh install of rvm 1.29.0, using rvm to install ruby 2.3.3 works (ruby is compiled locally), but the ruby appears to have no openssl support.  Attempting to `gem install rails` results in:

Querying ruby for the openssl version it uses, results in an error instead of reporting the version:
[code]

Ruby 2.3

[2017-02-14 04:44] grg28 commented on #3923
@iamclaytonray, i started by cleaning my ruby list in my rvm and followed the following command as suggested on one of the stackoverflow forums (but forgot which):

[code]

[2017-02-14 05:00] franklinyu commented on #3923
@mlilley How about rolling RVM back to 1.28.0? According to @felixbuenemann

[2017-02-14 05:21] iamclaytonray commented on #3923
Hmm... Still not working. Maybe it's because I am running Sierra, not Yosemite. I'll post a comment on this thread for what works for me, when I get it to work.

[2017-02-14 07:08] mlilley commented on #3923
@franklinyu after installing ruby-2.3.3 from rvm 1.28.0, ruby reports `OpenSSL 1.0.2k  26 Jan 2017` which correctly corresponds to the version I have installed using brew.

[2017-02-14 07:14] franklinyu commented on #3923
@iamclaytonray Did you check that you are using RVM 1.28.0 (stable) by `rvm version`?

[2017-02-14 07:51] mlilley commented on #3923
Here's what's working for me across the different rvm and ruby versions mentioned in this issue so far:

with rvm 1.28.0
- installing ruby-2.3.3 - working
- installing ruby-2.4.0 - working

with rvm 1.29.0 (ie: current stable)
- installing ruby-2.3.3 - :x: not working (ruby compilation works, **but no openssl support**)
- installing ruby-2.4.0 - :x: not working (ruby compilation fails)

Ruby 2.4.0

[2017-02-14 07:59] iamclaytonray commented on #3923
Yes. Both 1.28.0 and 1.29.0 are not allowing me to get past the OpenSSL issue.

[2017-02-14 08:04] iamclaytonray commented on #3923
With multiple versions of Ruby. I've tried 2.3.0, 2.3.3, and 2.4.0 on both RVM 1.28.0 and 1.29.0

Compiling works fine for me but when I go to install a gem, nothing will. I've tried multiple gems, from bundler to rails to nokogiri, which returns an OpenSSL error. I've tried imploding and starting over but I always get the same results. I haven't really messed with it for the past hour or two. Had

[2017-02-14 08:07] iamclaytonray commented on #3923
I will say that it seems like a linking issue with OpenSSL, however, I can't unlink even with a --force flag. When I pull up the version, it returns the standard Mac version. ( 0.9. something?) and not v1+. I've been a developer for a year, though, so I don't really have a valid say in what I "think" is the issue, haha.

[2017-02-14 08:20] franklinyu commented on #3923
@iamclaytonray You mean it compiles, but OpenSSL does not work, for **all** the combination of Ruby 2.3.0, 2.3.3, 2.4.0, and RVM 1.28.0, 1.29.0? So basically

|  RVM   | 2.3.0 | 2.3.3 | 2.4.0 |
|--------|-------|-------|-------|
| 1.28.0 | :x:   | :x:   | :x:   |
| 1.29.0 | :x:   | :x:   | :x:   |

Is that correct?

[2017-02-14 08:41] mpapis commented on #3923
@mlilley can you show me `brew list -1 | grep openssl` after installing ruby on rvm 1.28?

[2017-02-14 08:53] iamclaytonray commented on #3923
@franklinyu yep

[2017-02-14 08:58] mlilley commented on #3923
@mpapis sure.  Highlighted below:

(starting with rvm 1.29.0 installed)

$ brew list -1 | grep openssl
openssl
openssl@1.1
$ rvm implode
$ \curl -sSL https://get.rvm.io | bash -s 1.28.0
$ brew list -1 | grep openssl
openssl
openssl@1.1
$ rvm install 2.3.3
$ ruby --version
ruby 2.3.3p222 (2016-11-21 revision 56859) [x86_64-darwin14]
$ ruby -ropenssl -e 'puts OpenSSL::OPENSSL_VERSION'
**OpenSSL 1.0.

[2017-02-14 09:09] iamclaytonray commented on #3923
So... I have no idea how this happened but now everything is working perfectly fine. The last time I touch rvm/ruby/rails, I couldn't really do anything. For kicks, I decided to run `$ rails new myapp` and it worked perfectly. I've been working in node/express/mongodb for the past few hours, so there is no way I could have fixed it. Anyway, just thought I would let you guys know. Thanks for the he

[2017-02-14 09:11] mpapis commented on #3923
now can someone test this:
[code]
and if it fails try this one:
[code]
please gist all the outputs for inspection :)

[2017-02-14 09:25] franklinyu commented on #3923
@mpapis Sorry I can't remove `openssl@1.1` because another formula depends on it. I tried `--autolibs=0` flag on RVM (master) but it didn't help; Ruby 2.4.0 compiles but OpenSSL is broken. Do you need the logs? I have these files

[code]

generated by RVM.

[2017-02-14 09:59] mlilley commented on #3923
@mpapis done.  I assume you mean using rvm 1.29.0 (I have no problems with 1.28.0).

After installing rvm 1.29.0, and running brew remove openssl@1.1: [Gist](https://gist.github.com/mlilley/21b491eecf200ef9c299cb5c436fe86c)
Result: make error (no change from earlier)

Part 2 - removing openssl & installing openssl098: [Gist](https://gist.github.com/mlilley/eae79397490cdd307e59db7da4b87ca8)
Result:

[2017-02-14 10:05] mlilley commented on #3923
If do the same process, but with ruby-2.3.3, it compiles ok, but the resulting ruby has no openssl support.  [Gist](https://gist.github.com/mlilley/a574118793c0681b9b98423793032f97)

[2017-02-14 10:22] mpapis commented on #3923
@franklinyu / @mlilley can you gist `*config*.log` and `make.log` files from ruby-2.4.0 installation using rvm-1.29.0?

[2017-02-14 10:24] mpapis commented on #3923
also does `brew link openssl` do any change to the process?

[2017-02-14 10:25] habovh commented on #3901
Nope, no luck with that one either. I reopened my issue on Rubinius repository over here:

[macOS and RVM install issue due to llvm35 dependency](https://github.com/rubinius/rubinius/issues/3730)

[2017-02-14 10:44] franklinyu commented on #3923
`config.log` and `make.log` is pretty much everything in the log folder, as seen in line number count:

[code]

So I'll just post everything in a gist.

[2017-02-14 11:11] mlilley commented on #3923
@mpapis: Installing 2.4.0: console ([gist](https://gist.github.com/mlilley/95cdc88ffaa72655233783e6d99e3c3e)) and log files ([gist](https://gist.github.com/mlilley/1fc4f842b6d8918d6ce61178f7026f05))

AFAIK brew has disabled being able to link openssl (more info: https://langui.sh/2015/07/24/osx-clang-include-lib-search-paths/).  Attempting to do so results in this (with or without the --force flag

[2017-02-14 11:23] mpapis commented on #3923
ok then, I know how to solve this, but it will take till the evening for me to get time to work on it, please be patient - a fix is comming

[2017-02-14 17:03] Zipfer opened #3925 "zsh autocompeltion desn't work with latest/stable 1.29 release"
## Description

zsh autocompeltion doesn't work in latest/stable 1.29 rvm release
When I do  rvm TAB, terminal stuck and do nothing.
but second tabulation( rvm install TAB) working normally

In rvm 1.27 autocompletion working fine

## Steps to reproduce

install zsh
rvm TAB

## Expected behavior

all command after rvm tabulation.

## Actual behavior

terminal just stuck on a moment.

## Environmen

[2017-02-14 17:50] gnosek commented on #3832
This is yet another example of rvm being too smart for its own good.

A simple "mount /tmp noexec" setup causes it to complain about /home/wherever/.rvm being mounted noexec, when it so obviously isn't:

[code]

And no, further complicating the logic (e.g. parsing mount results in a smarter way) is not a solution (will you parse SELinux policies as well?). Let the installer just do its job by inst

[2017-02-14 18:47] pkuczynski commented on #3832
Grzegorz, the only reason we included this check was because someone had opposite problem. Was trying to install RVM on the noexec partition and it was failing when trying to run some commands. You can look up the issue number in the CHANGELOG.

I would appreciate your constructive feedback or PR fixing the issue.

I am also open to hear what are the other cases when RVM is trying to be too smart?

[2017-02-14 18:53] pkuczynski commented on #3924
I didn't know anybody expected it to be yaml comptible. I will fix it next week when I am back from my holiday. Apologies for the inconvenience

[2017-02-14 19:36] gnosek commented on #3832
If you're looking to solve problem X (cannot execute scripts from $HOME/.rvm) then check for X (create a file, chmod +x and execute it -- even an empty file will do) not for Y ($HOME mounted noexec), which is neither necessary nor sufficient to cause X.

Not being able to run a script will break things. Having `mount` print a line containing noexec in a particular place *will not*.

`<flashback>`

[2017-02-14 20:00] madman3 commented on #3729
@pkuczynski I basically installed an older version as a clean install from
the scratch again. Maybe that could help.

On Mon, Feb 13, 2017 at 8:30 PM, Manoj Menon <notifications@github.com>
wrote:

[2017-02-14 22:59] mpapis commented on #3923
please somebody try:
[code]
and then install some rubies

[2017-02-14 23:35] Jsericks commented on #3923
@mpapis Works for me. Ruby 2.3.3 installed, `gem install bundler` no longer fails with OpenSSL Error

[2017-02-15 00:50] riacoding commented on #3923
I can confirm that this now works and no longer fails with OpenSSL error -  with the following configuration

ruby 2.4.0p0 (2016-12-24 revision 57164) [x86_64-darwin16]
rvm 1.29.0 (bugfix/3923_set_osx_brew_openssl_compiler_config)

[2017-02-15 02:10] franklinyu commented on #3925
In macOS, Zsh just gives me all the files in current directory when I hit <kbd>Tab ↹</kbd>.

[2017-02-15 02:13] franklinyu commented on #3923
Ruby 2.4.0 built with OpenSSL 1.1.0d. 🎉
Ruby 2.3.3 built with OpenSSL 1.0.2k, is this expected?

[2017-02-15 02:27] jrgifford commented on #3923
@mpapis Your fix worked for me!

[2017-02-15 03:13] mlilley commented on #3923
@mpapis awesome - all working now. 👍

I can confirm that with only openssl 1.0.2k installed:
- rvm install ruby-2.3.3 does not install any further openssl versions, and builds ruby against 1.0.2k
- rvm install ruby-2.4.0 installs openssl 1.1.0d, and builds ruby against that.

[2017-02-15 03:58] felixbuenemann commented on #3923
@mpapis Fix is working fine for me too, ruby-2.4.0 was compiled against openssl@1.1.

[2017-02-15 04:04] felixbuenemann commented on #3923
@mlilley OpenSSL 1.1 support was added in ruby-2.4.0-rc1, so older versions will have to continue to use OpenSSL 1.0.

[2017-02-15 04:14] franklinyu commented on #3923
@felixbuenemann Is there any benefit of switching to OpenSSL 1.1 branch?

[2017-02-15 08:27] pinkasey opened #3926 "Cannot install Ruby 2.4.0 on OSx 10.11.6"
## Description
Cannot install Ruby 2.4.0 on OSx 10.11.6

## Steps to reproduce

 1. rvm get master
 2. rvm install ruby-2.4.0

## Expected behavior

ruby-2.4.0 is installed

## Actual behavior

rvm fails with error. see gists:

* [command](https://gist.github.com/pinkasey/8f9c3058b0eb0ab1531f2983f122599e
)
* [config.log](https://gist.github.com/pinkasey/1fb8dc1f7e31da7ebc8ff0095cc9ccac)
* [make.lo

[2017-02-15 09:56] Zipfer commented on #3925
@franklinyu
You should define script location
easiest way is install oh-my-zsh and add rvm to plugin to .zshrc should looks like this:
`plugins=(git ruby gem rvm docker)`

[2017-02-15 10:02] mpapis commented on #3926
duplicate of #3923

[2017-02-15 10:02] #3926 closed

[2017-02-15 15:58] felixbuenemann commented on #3923
@franklinyu OpenSSL 1.1.1 is planned to support TLS 1.3. OpenSSL 1.1.0 has support for ChaCha Poly cipher and it seems they also removed the weak RC4 and 3DES ciphers and MD5 MAC. In reality right now it probably doesn't make much of a difference.

[2017-02-15 17:17] peracchi commented on #3923
Still doesn't work for me.
[code]
Some info about my system (Mac OS X El Capitan 10.11.6 - 15G1217):
[code]

[2017-02-15 17:22] mpapis commented on #3923
I will look into it in ~5h

On Feb 15, 2017 6:17 PM, "peracchi" <notifications@github.com> wrote:

[2017-02-15 17:30] mlilley commented on #3923
On my system, I had at some point previously added set /usr/local/opt/openssl/bin/openssl (brew's openssl 1.0.2k install location) to the front of my path so it would run in preference to Yosemite's default openssl.  @peracchi what do you get when you run `which openssl`?

[2017-02-15 17:48] peracchi commented on #3923
@mlilley
[code]

[2017-02-15 18:20] pinkasey commented on #3923
@mpapis You're a true hero!
I'm going to all the posts in StackOverflow to link to this issue.
I've been to quite a few.

[2017-02-15 20:47] thbar opened #3927 "RVM 1.29.0 reports missing required packages (but they are already installed)"
## Description

I have a server where RVM is configured in autolibs 2 (read-fail), and where the required packages are explicitely installed via Ansible. Today while trying to install Ruby 2.4.0, RVM complains about missing required packages, which are actually not missing but installed.

## Steps to reproduce

On Ubuntu 16 LTS, with RVM 1.29.0 (or master), on a single-user (not sudoer) deploy :

[2017-02-16 02:47] wgrrrr commented on #3927
I am experiencing this same error in this same situation on Ubuntu 16.04 (Xenial) and RVM 1.29.0. I have also checked that all packages are installed by using autolibs=3, taking note of all installed packages by Apt, configuring Ansible to install the exact packages, switching back to autolibs=2 and trying again. Still, I get errors about required packages not being installed.

[2017-02-16 04:42] franklinyu commented on #3925
@Zipfer Thank you, but after adding `rvm` to `plugins` it now shows all my ruby versions, instead of the commands.

[2017-02-16 09:23] raelgc commented on #3927
Same happens if you install using the [Ubuntu dedicated package](https://github.com/rvm/ubuntu_rvm)?

[2017-02-16 09:55] thbar commented on #3927
@raelgcthe the production server I'm targeting is using the [rvm ansible role](https://github.com/rvm/rvm1-ansible) and I prefer not to tweak it. That said I'll be able to temporarily try using the package in a Vagrant VM soon. I'll report back on the output.

[2017-02-16 10:59] habovh commented on #3901
Hi @pkuczynski! Just a quick message over here to warn you that rubinius builds fine one macOS Sierra, both using RVM and without!
The problem was Rubinius' semantic versioning convention. I falsely thought that version `3.7` is the same as `3.70`. However both are very different (in fact, 63 versions separate them!).

And oddly enough, nobody seemed to realise my mistake in trying to install/buil

[2017-02-16 22:07] ChrisPetr0 commented on #3927
Seeing this with Ubuntu 14.04 as well, all packages installed, autolibs not seeing installed packages

[2017-02-17 12:51] carolinesalib commented on #3824
HI!

I'm using Ubuntu 16.04 and try to install ruby 2.2.3, but still trying to install the nonexistent libssl1.0-dev. :sob:

[code]

[2017-02-17 15:11] raelgc commented on #3824
@carolinesalib Can you, please, try with the [Ubuntu dedicated package](https://github.com/rvm/ubuntu_rvm)?

[2017-02-17 15:39] seanh1414 commented on #3923
Is something hardcoded incorrectly? I am running rvm reinstall ruby-2.4.0 after trying some of the items in this thread and I see this coming under validate binary:

ruby-2.4.0 - #validate binary
Libraries missing for ruby-2.4.0: /Users/travis/.rvm/rubies/ruby-2.4.0/lib/libruby.2.4.0.dylib,/usr/local/opt/gdbm/lib/libgdbm.4.dylib. Refer to your system manual for installing libraries

That isn't my

[2017-02-17 16:19] carolinesalib commented on #3824
Hi, @raelgc! Thanks for try to help me.

I removed rvm using the command `rm -rf ~/.rvm` and then I installed again using ppa of the link you send to me, but the problem persists.

When I try to install ruby 2.2.4 it is ok, but 2.2.3 he searchs for the libsssl-1.0-dev.

[code]

[code]

[2017-02-17 16:30] warlock20 commented on #3660
@aravindgpd Install rvm in your machine using dnf..

[2017-02-17 17:35] AaronM04 commented on #3909
I got the same error about `_clock_gettime`. My `rvm info` output:

[code]

[2017-02-17 17:44] AaronM04 commented on #3909
@dshukertjr Have you tried running `sudo xcode-select --install`? It fixed the problem for me. The process takes about 5 minutes.

[2017-02-17 18:34] franklinyu commented on #3923
@seanh1414 For the hardcode problem, I agree with you, as I mentioned [here](#issuecomment-279364652) (the "binary validation with wrong user name" section). @felixbuenemann [mentioned](#issuecomment-279368265) a possible solution, but this bug shouldn't bother you much, since RVM compiles Ruby if binary don't works. Did reinstallation succeed? Or did it fail with some message like

[code]

?

[2017-02-17 21:35] raelgc commented on #3824
@carolinesalib It's weird because your system is reporting itself as Debian. We even have pre-compiled binaries for Ubuntu x64 for those 2 versions.

[2017-02-17 22:53] seanh1414 commented on #3923
Installation worked for me, so that was just informational.
I included the steps to get it to work.

Sean

On Fri, Feb 17, 2017 at 1:34 PM Franklin Yu <notifications@github.com>
wrote:

[2017-02-18 00:05] franklinyu commented on #3923
@seanh1414 Oh I got what you meant. Sorry that I misunderstood. `rvm get 1.28.0` did the trick, because this bug only appears in 1.29.

[2017-02-18 04:35] putraisyraq commented on #3923
@mpapis your fix worked!! Thank you so much! I am a newbie, I battled with the error for days and even reformatted my mac. lol
@pinkasey thanks for posting it on StackOverflow! I found it there!

[2017-02-18 10:47] #3923 closed

[2017-02-18 11:18] #3924 closed

[2017-02-18 11:35] mpapis commented on #3927
can I see `dpkg --print-architecture` - it's most likely related to 32bit and 0834daa2ed7e77469fb312fbe805878b1128fa9c we probably need to restore the `requirements_debian_arch`

[2017-02-18 11:38] peracchi opened #3928 "rvm 1.29.0 (master) - Somehow it happened there is no executable 'openssl'"
Can't install ruby-2.4.0 on Mac OS X El Capitan 10.11.6 (15G1217)

[code]

[2017-02-18 11:50] mpapis commented on #3923
the fix is on master, I will try to push a release today

[2017-02-18 11:52] peracchi commented on #3923
Still not working for me, please take a look at info on #3928

[2017-02-18 12:07] dtodor commented on #3923
Doesn't work for me either. Install RVM from master, still getting:

gem update
Updating installed gems
ERROR:  While executing gem ... (Gem::Exception)
    Unable to require openssl, install OpenSSL and rebuild ruby (preferred) or use non-HTTPS sources

[2017-02-18 12:29] mpapis commented on #3923
@dtodor did you reinstall the ruby?
[code]

[2017-02-18 12:33] peracchi commented on #3923
@mpapis
I always start with a fresh environment.
I even formatted the Mac and reinstalled everything from scratch.
Latest attempts I used `rvm implode` (and brew analogue) to retry a few times.

[2017-02-18 12:39] mpapis commented on #3928
try with:
[code]

[2017-02-18 12:46] dtodor commented on #3923
This was the first install on a new Mac.

[2017-02-18 13:01] peracchi commented on #3928
@mpapis

  Now everything worked flawlessly!

  Full commands output below:

[code]
**Thank you very much for your effort!**

[2017-02-18 13:34] #3928 closed

[2017-02-18 13:39] mpapis commented on #3923
@dtodor to important fixes were just merged to master, they require reinstallation of ruby, please try:
[code]
if it still does not work - please open a new issue with all the details - particular problems from this one are already addressed.

[2017-02-18 13:42] mpapis commented on #3900
@sverasch please [gist](https://gist.github.com) `rvm --trace info`

[2017-02-18 14:48] dtodor commented on #3923
OK, now it works. Thanks for the help!

[2017-02-18 15:51] Guiriguanche commented on #3923
@mpapis A million thanks, this was starting to drive me crazy. Just completed the rails install using your bugfix.
ruby 2.4.0p0 (2016-12-24 revision 57164) [x86_64-darwin16]
rvm 1.29.0 (bugfix/3923_set_osx_brew_openssl_compiler_config)

The only thing that I  find strange:
[code]
Can I just update these or will this break something?

[2017-02-18 17:08] AnilRedshift commented on #3923
Not sure if it's related but I get the following when running `rake -T --trace` from a freshly installed rails app after following these steps:

[code]

[2017-02-18 17:15] franklinyu commented on #3923
@AnilRedshift Try `ruby -ropenssl -e 'puts OpenSSL::OPENSSL_VERSION'` to test OpenSSL binding (as mentioned above).

[2017-02-18 17:16] AnilRedshift commented on #3923
[code]

[2017-02-18 17:19] franklinyu commented on #3923
@AnilRedshift Then that seems to be a different issue.

[2017-02-18 17:20] AnilRedshift commented on #3923
Thanks, I'll file a new bug!

[2017-02-18 17:39] felixbuenemann commented on #3923
@AnilRedshift I don't think that's an RVM issue. Looks like you have the "openssl" gem installed in the ruby-2.4.0@global gemset and it clashes with the version included with ruby, because it was already loaded.

This should fix it:

[code]

The problem may also go away if you use `bundle exec rake` instead of `rake`.

[2017-02-18 23:50] mpapis commented on #3923
@Guiriguanche go ahead and update them, you can even schedule automated update :)

[2017-02-19 06:32] mizzlala3 commented on #3923
Not sure if this is related, but i get the following error when running`bin/rails s` using rvm on osx sierra

[code]

[2017-02-19 08:27] BjornMelgaard opened #3929 ""Warning! PATH is not properly set up" when using RVM with tmux"
[code]
didnt work for me, what I do:
start without tmux

[code]

[My tmux and others dotfiles at that moment](https://github.com/BjornMelgaard/dotfiles/blob/master/tmux.conf)

temporal solution: in zshrc
`[[ $TMUX != "" ]] && rvm use default > /dev/null 2>&1`

[rvm infos](http://pastebin.com/jXubP6tz)

[2017-02-19 10:51] VladRassokhin commented on #3927
Same on ubutnu-14.04.
Steps to reproduce:
[code]
Inside vagrant maniche:
[code]

Maybe it's time to setup some CI?

[2017-02-19 11:27] mpapis commented on #3929
can you show your `zshrc`?

[2017-02-19 11:30] BjornMelgaard commented on #3929
Yes, it in my dotfiles, but [without this line](https://github.com/BjornMelgaard/dotfiles/blob/master/zshrc#L35), its temporal solution as I have written

[zshenv](https://github.com/BjornMelgaard/dotfiles/blob/master/zshenv)

[2017-02-19 11:37] mpapis commented on #3929
`zshenv` file in which you load RVM (`source "$HOME/.rvm/scripts/rvm"`) is the first sourced file in the process of initializing ZSH, you should move this line to `zshrc` after you finish setting up `PATH` and `source`'ing other files.

[2017-02-19 11:39] mpapis commented on #3927
@VladRassokhin https://travis-ci.org/rvm/rvm/builds - what do you get from `dpkg --print-architecture`

[2017-02-19 12:23] BjornMelgaard commented on #3929
Ok, that indeed worked, I thought that my nvim will not find rvm after that, but no, thank you very much :1st_place_medal:

[2017-02-19 12:23] #3929 closed

[2017-02-19 13:19] VladRassokhin commented on #3927
@mpapis
[code]

[2017-02-19 13:40] mpapis commented on #3927
please try with:
[code]

[2017-02-19 15:16] openface opened #3930 "Failed to install JRuby 1.7.26 with RVM 1.29.0"
When I try to install JRuby (`rvm install jruby-1.7.26 --patch my.patch`), I get the following error.

(Snippet from mvnw.log)

[code]

[2017-02-19 15:20] openface commented on #3930
Also tried `rvm get head` and it hits the same error.

[2017-02-19 17:08] mpapis commented on #3930
@enebo what could that be?

[2017-02-19 17:26] VladRassokhin commented on #3927
With rvm from that branch and `rvm autolibs read-file`, `rvm install ruby`  works fine. Thanks!

[2017-02-19 17:27] mpapis commented on #3899
the patches apply fine for me, there might be some leftovers, try:
[code]
can you gist `/Users/lowang/.rvm/log/1485902354_ruby-1.9.3-p194-perf/rubygems.install.log`

[2017-02-19 17:34] #3927 closed

[2017-02-19 18:27] mpapis commented on #3883
can you [gist](https://gist.github.com): `\curl -sSL https://get.rvm.io | bash -s master --auto-dotfiles --trace`?

[2017-02-19 19:23] #3880 closed

[2017-02-19 19:27] mpapis commented on #3838
the difference is in system vs. user installation, for the system installation you need to add your user to the rvm group:
[code]
and logout + login again

[2017-02-19 19:27] #3838 closed

[2017-02-19 20:28] enebo commented on #3930
@mpapis no idea?   ./mvnw should get all and properly bootstrap.  Only random guess is wondering about if an env like MAVEN_OPTS is set.  Looks like perhaps something being called on the logger is not public which is expected to be but the logging system maybe is picking up some other logger?
@mkristian any ideas?

[2017-02-19 20:48] mpapis commented on #3930
Thank you @enebo, no `MAVEN_OPTS` in rvm.

[2017-02-19 23:12] danielpclark commented on #3840
I can confirm this issue.  In Ubuntu 14 using the gnome terminal as a login shell worked fine.  But ~~upgrading~~ reinstalling to Ubuntu 16.10 the gnome terminal, and the other terminals, all seem to fail to act like a login shell.  Probably a bash issue.

I tried what I could with the instructions online.  I've even reinstalled RVM to `/usr/share` and tried hardcoding some paths.  _I think I may

[2017-02-19 23:29] danielpclark opened #3931 "Feature Request: Testing for gems in gemsets"
I've been reading Rubygems/Bundler/RVM code for a few months now.  What I'm looking for is something equivalent to `Dir.mktmpdir` for gemsets - `RVM.mktmpgemset`.  So an RVM helper for test suites for clean gemsets.  The code would look something like:

[code]

I'm open to the implementation details.  But what I really need is a clean environment to perform gem install and/or bundle install to ver

[2017-02-20 02:14] mukteshkrmishra opened #3932 "libffi-devel required with latest RVM with master branch"
I got the latest rvm using rvm get master.

But when I try to installl ruby it says it requires libffi-devel.

Though as per https://github.com/rvm/rvm/issues/2583 it is no longer required.

Please help.
(PS: I installed libffi-devel manually to solve this dependency).

## Environment info
  system:
    uname:        "Linux ip-10-205-193-244.dqa.capitalone.com 2.6.32-642.11.1.el6.x86_64 #1 SMP Wed

[2017-02-20 09:05] mpapis commented on #3931
something like:
[code]
?
RVM is a shell tool, adding ruby code would require extra effort.

[2017-02-20 14:08] #3832 closed

[2017-02-20 14:29] mkristian commented on #3930
@openface any chance to gist the complete mvnw.log ? which jdk version ? this really fails really early inside the mvn launcher code.

[2017-02-20 16:39] pkuczynski commented on #3932
Could you remove the `libffi-devel` and provide the output or rvm install, so we can trace the problem?

[2017-02-20 16:47] raelgc commented on #3840
@danielpclark, can you, please, try the [Ubuntu dedicated package](https://github.com/rvm/ubuntu_rvm)?

[2017-02-20 17:42] danielpclark commented on #3931
Yes, that's the outline.  If you'd like I could write some code for this and follow any feedback/direction you give.

[2017-02-20 17:55] scalp42 commented on #3883
Hi @mpapis

Here is the gist requested (warning it's long): https://gist.github.com/scalp42/5e0f4c0637f04c5b512b2f4c0ab5d538

Thanks!

[2017-02-20 17:56] danielpclark commented on #3840
@raelgc I have already tried that.  I see that repository in my `apt/sources.list.d/rael-gc-ubuntu-rvm-yakkety.list`.  I can't remember whether this is how I ended up with `rvm` in my `/usr/share` or not since it's been a while.

It would be a lot of work for me to try and revert my shell and experiment with rvm's install again.  Anyone can replicate this issue simply using VirtualBox with Ubuntu

[2017-02-20 18:09] raelgc commented on #3840
@danhealy Yes, the Ubuntu package installs RVM to `/usr/share`. You check if, after the upgrade, the option to run terminal as login shell is still checked like described in the step 2 of the package repo?

[2017-02-20 18:28] danielpclark commented on #3840
Yes, that command is checked.  I keep it that way.  That doesn't work.

[2017-02-20 18:58] danielpclark commented on #3717
My thoughts on

I think if the current default ruby version loaded lies within the rule `ruby '~> 2.2.4'` then use that version.  I'm thinking CI environments choose this beforehand anyways.

Otherwise, in my opinion, prefer the highest patch version since patches include fixes and security related updates.

[2017-02-20 19:15] openface commented on #3930
Complete mvnw.log:

[code]

[2017-02-20 19:49] vishalnarkhede commented on #3923
Hi Guys, I'm little late to the party. But unfortunately issue still persist for me.

I'm on latest master of rvm, also on ruby 2.4.0. When I'm trying to add gem source `gem sources -a https://rubygems.org`, I'm still getting this error:

`ERROR:  While executing gem ... (Gem::Exception)
    Unable to require openssl, install OpenSSL and rebuild ruby (preferred) or use non-HTTPS sources`

I'm on M

[2017-02-20 21:43] mpapis commented on #3840
can you try specifying shell: `/bin/bash --login`?

[2017-02-21 00:24] danielpclark commented on #3840
If I remember that correctly that would work (because I have tried that).  At the moment I don't have access to bash as a shell directly anymore. _(bash command reloads my fishshell - probably a fishshell feature)_

[2017-02-21 01:40] lunaru commented on #3924
Thanks for fixing this guys!

[2017-02-21 09:16] mkristian commented on #3930
the first thing which is remarkable is that there is a CiscoJCEProvider coming from somewhere most probably from the extension dir of java. those kind of wrong signatures can happen if there are extension jars in the java.ext.dir like slf4j which is not compatible to the one maven uses: constituent[41]: file:/home/deployer/.m2/wrapper/dists/apache-maven-3.3.9-bin/2609u9g41na2l7ogackmif6fj2/apache-

[2017-02-21 18:05] openface commented on #3930
Closing this, as I believe it's a problem with my JDK installation.

[2017-02-21 18:05] #3930 closed

[2017-02-22 11:35] Zipfer commented on #3925
@franklinyu
That's why I'm failing this bug.
Use 1.27 until fix

[2017-02-22 18:45] mukteshkrmishra commented on #3932
The above output is w/o libffi-devel only. I installed that package manually after wards to remove failure (as a remediation).

[2017-02-23 08:53] mpapis commented on #3932
@mukteshkrmishra do you mean that the package is required for proper Ruby installation but RVM does not install it automatically? Which Ruby versions do require it?

[2017-02-23 10:16] mpapis commented on #3840
@danielpclark the PATH issue is a separate thing and it is about your shell initialization files changing PATH to:
1. include ruby before sourcing rvm
2. changing it after rvm was sourced

have you tried `\curl -sSL https://get.rvm.io | bash -s stable --auto-dotfiles`?

[2017-02-23 10:58] mpapis commented on #3883
unfortunately in the trace there is no error, when you repeat the installation does it show the errors again?

[2017-02-23 21:06] aronbohl opened #3935 "elementary OS is detected as Debian rather than Ubuntu"
## Description

On a fresh install of elementary OS, the system is detected as Debian rather than as an Ubuntu derivative causing requirement issues when installing a ruby version less than 2.4. I'm not sure if this is a problem with rvm's detection or the way this distribution identifies itself.

## Steps to reproduce

 1. Install elementary OS
 2. Install rvm (\curl -sSL https://get.rvm.io | bas

[2017-02-23 21:13] pkuczynski commented on #3935
Could you please list output of following commands:

[code]

[2017-02-23 21:21] aronbohl commented on #3935
Sorry, I should have included that before. Here's the info:

[code]

[2017-02-23 21:23] mdotterer opened #3936 "Allow option for forcing RVM to attempt to install old versions of ruby"
## Description

  I am able to successfully install ruby 1.8.6 on OSX 10.12 through some machinations, but I have to resort to patching scripts/functions/build_config_system in order to get RVM to even try to install. While I don't expect the install for such an old version of ruby to be maintained, I would like to have a command line option to bypass the version check and try anyway.

## Steps to

[2017-02-23 23:25] pkuczynski commented on #3935
Can you please try:

[code]

[2017-02-23 23:59] aronbohl commented on #3935
It still detects Debian but I think I see the problem. Your `.?` isn't getting interpreted as a regular expression. I think your `GREP_OPTIONS` just needs a `-E`.

`GREP_OPTIONS="-E" \command \grep "DISTRIB_ID=.?elementary" /etc/lsb-release >/dev/null`

I made the change and then everything worked fine and it installed 2.2.6.

[2017-02-24 00:04] pkuczynski commented on #3935
Indeed. Fixed that and will merge after review from @mpapis

[2017-02-24 00:09] aronbohl commented on #3935
Thanks! I appreciate the help.

[2017-02-24 00:21] aronbohl commented on #3935
One more thing that I just noticed, adding something to `GREP_OPTIONS` throws a warning:

`grep: warning: GREP_OPTIONS is deprecated; please use an alias or script`

Maybe use egrep instead?

[2017-02-24 09:26] mpapis commented on #3935
@aronbohl does it show only once? Or few in a group on start?

[2017-02-24 10:25] #3935 closed

[2017-02-24 11:10] ckhatton commented on #3624
I am receiving the same error, but for a different path; '/usr/local/rvm/archives'.

[code]

I originally installed RVM as root, and now I have changed to using an user account. Do you think that may be why, and would taking ownership of that folder fix the issue?

:octocat:

---

[code]

[2017-02-24 16:32] CJ718 opened #3939 "Help Section of the https://rvm.io/ page to points to irc.freenode.net not github"
## Description

 Please cleanup the Help Section of the https://rvm.io/ page to point to gihub, not irc.freenode.net
Current Help Section info:
"You can find the RVM team on IRC in
#rvm on irc.freenode.net
If we do not respond right away, leave a message and a contact to you like email or twitter."

Thank you

## Steps to reproduce

 1. ...n/a
 2. ...n/a
 3. ...n/a

## Expected behavior

link to g

[2017-02-24 16:50] aronbohl commented on #3935
@mpapis it was showing in clusters of 3 every time I'd run something like `rvm install` or `rvm info`. Although, I just switched back to the master branch after this got merged in and I don't see the warning anymore so it must be resolved.

[2017-02-24 16:55] mwlang commented on #3936
Just ran into this problem myself...Upgraded OS from Mavericks to Sierra and Ruby 1.8.6 worked for the most part except for scripts requiring readline (Rails 1.x script/console, for example).  Followed the usual dance of uninstalling to reinstall and ended up surprised 1.8.6 couldn't be recompiled and installed.

[code]

[2017-02-24 17:01] mwlang commented on #3936
So what are the steps to side-stepping rvm's guard against installing older Rubies so I can patch and install?

[2017-02-24 17:14] mdotterer commented on #3936
What has worked for me is using MacPorts to install gcc44, and then applying the attached to remove the safegaurd with:
  `patch ~/.rvm/scripts/functions/build_config_system rvm-allow-186.patch`
[rvm-allow-186.patch.zip](https://github.com/rvm/rvm/files/800011/rvm-allow-186.patch.zip)

So far we haven't had any luck with Homebrew, just MacPorts. Using Homebrew to install an older gcc and then atte

[2017-02-24 17:35] CJ718 opened #3940 "Error "PATH not properly set...""
## Description

 I've gotten everything installed, RVM (version 1.29.1), Ruby 2.4.0 and Rails 5.0....... Everything seems to work fine but I continually get the same error msg when trying to initiate RVM: ~$ rvm -v Warning! PATH is not properly set up, '/usr/share/rvm/gems/ruby-2.4.0/bin' is not at first place.

## Steps to reproduce

 1. ...open terminal
 2. ...rvm -v
 3. ...Warning! PATH is not

[2017-02-24 18:04] mwlang commented on #3936
@mdotterer thanks for that, but I don't think going down the macports route is viable for me.  I was able to get back to working 1.8.6 by restoring the binaries from a backup.

[2017-02-24 18:35] raelgc commented on #3624
@michaelcippolito Do you mind to try the [Ubuntu dedicated package](https://github.com/rvm/ubuntu_rvm)?

[2017-02-24 20:20] raelgc commented on #3940
@CJ718 Can you, please, try the [Ubuntu dedicated package](https://github.com/rvm/ubuntu_rvm)?

[2017-02-25 04:05] codeMarsLiu opened #3941 "rvm install 2.3.0 --> "__rvm_make -j 1" on Mac OS"
When I run
rvm install 2.3.0
I get the following error:
![rvm](https://cloud.githubusercontent.com/assets/26018254/23327991/a447ddb4-fb52-11e6-9371-e51d581978f0.png)
 Can anyone help me ?

[2017-02-25 05:19] ephracis opened #3942 "Add binaries for CentOS 7"
Right now there are only binary rubies on https://rvm.io/binaries/centos for 6.4 and older. But CentOS 7 has been out for more than two and a half years. Compiling ruby from scratch takes a lot of time and having binaries available would speed up a lot of scripts for us.

Please consider adding binaries for CentOS 7.

[2017-02-25 11:17] AndrewSB commented on #3845
@mpapis that did end up working 😄

[2017-02-25 11:54] raelgc commented on #3942
Hi @ephracis. Thanks for raising this.

Usually this will consume a good time for someone not using the goal OS. Do you consider helping us with this task? Case yes, we can guide you.

[2017-02-25 15:15] ckhatton commented on #3624
@raelgc That fixed the issue for me!

[2017-02-25 16:06] ckhatton commented on #3624
I must mention that I am having to use `rvmsudo` though.

[2017-02-25 18:37] CJ718 commented on #3940
Hi Rael, Thanks for the quick response. I've been trying this over and over to no avail. I removed rvm via terminal then removed all instances of RVM that I could find. Logged out then back in, then followed your instructions:
cjc13@cjc13-HP-EliteBook-8460p:~$ rvm -v
   No command 'rvm' found, but there are 26 similar ones
   rvm: command not found
cjc13@cjc13-HP-EliteBook-8460p:~$ ruby -v
   The

[2017-02-25 18:38] CJ718 commented on #3940
I closed it by accident

[2017-02-25 18:40] CJ718 commented on #3940
I also just noticed the 'strikethroughs' and have no idea where they came from. Apologies.

[2017-02-25 21:10] raelgc commented on #3940
Make sure you followed the gnome-terminal instructions to make it work as a shell login.

[2017-02-25 21:14] CJ718 commented on #3940
If you are referring to the : terminal, edit, profile preferences, run
command as login shell instructions, yes, I did. Even deselected it
un-installed, re-installed, re-check 'run command as login script'.
Thanks again

On Sat, Feb 25, 2017 at 4:10 PM, Rael Gugelmin Cunha <
notifications@github.com> wrote:

[2017-02-25 21:43] zStaticShockz commented on #3941
I had the same problem as you and found the answer [here](https://github.com/rvm/rvm/issues/2333) running `xcode-select --install` in terminal then retrying the ruby install worked!

[2017-02-26 01:27] joshco opened #3943 "Could ruby version be added to "RVM used your Gemfile for selecting Ruby, it is all fine...""
RVM shows this notice:
https://github.com/rvm/rvm/blob/5070f21752da92beef7a9b4593d33010853cb8e7/scripts/functions/rvmrc_warning#L160

It would be useful if it reported the ruby version it has selected.

[2017-02-26 04:07] bermannoah commented on #3862
@pkuczynski do you know if this fix ever got merged? Having the same issue on my machine. Happy to create a ticket if the original poster didn't. Thanks!

[2017-02-26 06:40] Fudoshiki opened #3944 "After update from rvm 1.28.0 to 1.29.1 ignoring env variables in .versions.conf"
I use capistrano-rails

On server in shared folder placed .versions.conf file
Deploying when installed 1.28.0 works fine, but with 1.29.1 don't apply this file

[2017-02-26 17:46] ephracis commented on #3942
Absolutely! Tell me what to do.

[2017-02-26 18:18] jrgifford commented on #3942
@ephracis OK, here's the scoop!

head over here: https://github.com/rvm/rvm-binary

Edit the config.yml to add the image you want under "distributions": https://github.com/rvm/rvm-binary/blob/master/config.yml#L7

A good resource for vagrant boxes is the [boxcutter project](https://vagrantcloud.com/boxcutter).

Run a test build for your CentOS image to make sure it works, submit a PR adding the co

[2017-02-26 18:18] jrgifford commented on #3942
If you have any questions, ask us here!

[2017-02-26 19:40] raelgc commented on #3942
In case you'll use your own CentOS 7 environment (so, you don't need a VM):

Go to a new folder and...

1. install ruby version with `--movable`
2. then run `rvm prepare <version>` (of course, replacing `<version>`)
3. create a PR adding the checksums to required files (like described in `prepare` output)

Like @jrgifford said, ping us here again to upload the binaries to rvm.io

[2017-02-27 21:03] ybakos opened #3946 "Info message not colored when auto switching ruby with user .rvmrc"
## Description

When using a _.ruby-gemset_ and _.ruby-version_ file in a project directory, and an _~/.rvmrc_ containing `rvm_use_flag=2`, the info message does not print in color.

## Steps to reproduce

 1. Create a new directory with a valid _.rvmrc_.
 2. `cd` into the directory, observe the colored shell message **Using /path/to/.rvm/gems/ruby-m.m.n with gemset NAME**
 3. Remove the _.rvmrc_,

[2017-03-01 07:09] SivaSM opened #3947 "Can't start rails server"
When I am doing to start the new application I can't start the rails server. When I start server, I am getting this error. Anyone can please give the correct solution for this?
![screenshot from 2017-03-01 11-40-42](https://cloud.githubusercontent.com/assets/19306411/23449328/f2638314-fe7b-11e6-8fa0-3b524df26ccb.png)

[2017-03-01 11:24] raelgc commented on #3947
Hi @SivaSM.

Please, don't delete all required issues fields while opening an issue.

Your issue is related to `pg` (PostgreSQL) gem version incompatibility, it's not related to RVM at all.

[2017-03-01 11:24] #3947 closed

[2017-03-02 07:54] SivaSM commented on #3947
Hi @raelgc,

I didn't delete all required issues. Latest code after import from git-hub and trying to run the server in local system this error will show.

[2017-03-02 17:06] karuppasamy commented on #3292
By adding the version (`jruby-xxxx`) which is in the error message into the file `known_strings` will solve the problem. It's a temporary fix only.

[2017-03-02 21:21] #3292 closed

[2017-03-03 18:10] raihan31 commented on #3411
@Erichliu00 it works for me.

[2017-03-04 00:00] Madh93 opened #3948 "dpkg: command not found"
## Description

When a console is opened a rvm message is shown.

## Steps to reproduce

 1. Open console

## Expected behavior

No message should be seen.

## Actual behavior

`__rvm_detect_system_from_lsb_release:15: command not found: dpkg `

## Environment info

[code]

[2017-03-05 20:46] stomar commented on #3734
`--rubygems ignore` worked for me.

[2017-03-06 17:04] HoracyAmadeusz opened #3950 "cat: /dev/fd/63: No such file or directory"
## Description

## Steps to reproduce

$ mkdir tmp
$ cd tmp
$ gpg --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3
$ curl -sSL https://get.rvm.io | bash -s stable
$ source ~/.rvm/scripts/rvm
$ cd ~
/home/USER/tmp
cat: /dev/fd/63: No such file or directory

## Environment info

FreeBSD 10.3-STABLE
GNU bash, version 4.4.5(0)-release (amd64-portbld-freebsd10.3)

[2017-03-06 20:35] Ingosmar89219 opened #3951 "BUG rvm to rails new"
[code]

[2017-03-06 23:56] ltfschoen commented on #3916
When I tried `rvm install ruby-2.4.0` I got the same errors. I had to perform some additional steps other than those mentioned by @pkuczynski, as I was not only using an old version of RVM, but also an old version of Brew, which required me to first upgrade Bash itself to avoid errors. These were the commands I made to recover from the situation:

[code]

[2017-03-07 16:43] ephracis commented on #3942
Did you get my ping, @raelgc and @jrgifford?

How often do you guys usually release? :)

[2017-03-08 02:44] daBee opened #3953 "RVM head installing Ruby 2.3.2 on FreeBSD 11.0 Raspberry Pi - Signal 6"
## Description

Trying to install a semi-modern Ruby through RVM on FreeBSD 11.0 on a Raspberry Pi 2.

## Steps to reproduce

Installed FreeBSD 11.0 onto the SD card.  Added a new user (rich).

## Expected behavior

I expected Ruby 2.3.2 to install normally, given RVM installed properly, didn't give any indication there would be an issue.

## Actual behavior

[https://gist.github.com/daBee/bc4af0d

[2017-03-08 11:14] dahu33 opened #3954 "Ruby 1.8.7 is not compatible with openssl 1.1 (MacOSX)"
## Description

On MacOS rvm try to compile ruby against openssl 1.1 which obviously fail.

## Steps to reproduce

rvm install 1.8.7

[2017-03-08 11:49] #3954 closed

[2017-03-09 10:48] ioquatix commented on #3651
How do we test rbx on travis?

[2017-03-09 21:03] mvastola opened #3956 "`rvm get stable` fails because installer script was signed using now-expired gpg key"
I am unable to upgrade (without using command line switches to override signature verification) to the latest stable version of rvm because the script was signed using a gpg subkey that expired yesterday.

For reference:
[code]

To confirm, I ran:
[code]

Suggested fix: Upload a new signature to https://raw.githubusercontent.com/wayneeseguin/rvm/master/binscripts/rvm-installer.asc which signs the

[2017-03-10 14:55] mpapis commented on #3956
have you tried `gpg2 --refresh-keys`? we are working on better instructions #3945

[2017-03-10 15:07] mvastola commented on #3956
@mpapis huh?
The issue isn't that I don't have the key.. The issue is that the key you used to sign this file expired.

[code]

Also:
[code]
Particularly:
[code]

[2017-03-10 15:10] mvastola commented on #3956
And yes, I did do that. No difference.

[2017-03-10 20:42] the0ctopus opened #3957 "Trying to install Ruby 2.3 on OSX 10.9. Fails at 'coreutils'"
While stepping through the [http://installfest.railsbridge.org/installfest/osx_rvm](railsbridge install fest) I've come to a halt when installing Ruby 2.3.

I've successfully installed Xcode, Command Line Tools, Home Brew, Git, as well as the latest RVM.   When I attempt an 'rvm install 2.3' it fails at coreutils.

## Expected behavior
Even a manual 'brew install coreutils' yields the same result.

[2017-03-11 08:28] TangRufus commented on #3956
Try `curl -sSL https://rvm.io/mpapis.asc | gpg --import -`

[2017-03-11 14:16] musashinm commented on #3863
I was facing the same problem... Just run `xcode-select --install` and I was able to install Ruby 2.3.3 with RVM. ;)

[2017-03-11 18:44] mvastola commented on #3956
@TangRufus, there we go!
It looks like the issue is the subkey was -- in fact -- updated but was never pushed to any gpg keyservers. So refreshing the keys did nothing.

I'm going to see if I can send the this key to keyservers myself. Otherwise @mpapis should.

[2017-03-11 18:52] mvastola commented on #3956
There we go! [Now](https://pgp.mit.edu/pks/lookup?search=0xE206C29FBF04FF17&op=vindex) `gpg2 --refresh-keys` should work for anyone with this problem.

Despite this happening only once every few years, it might be a good idea to code in a retry on the `gpg2 --verify`, but with running `gpg --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3` if the first one fails

[2017-03-11 18:52] #3956 closed

[2017-03-12 15:59] mpapis commented on #3956
Added an entry to my calendar to update the expiration date earlier next time.

[2017-03-12 19:35] mvastola commented on #3956
@mpapis, I guess that would be helpful, but the bigger issue is that you forgot to send your key to the keyservers.  And though (IIRC), the instructions on [rvm.io](http://rvm.io) were at one point to get the key from the URL https://rvm.io/mpapis.asc at one, nowadays they say to use a certain keyserver (likely because it is more secure) which left me with no source for an updated key.

In any cas

[2017-03-12 21:32] mpapis commented on #3956
@mvastola if it was just forgotten... I'm so overloaded with tasks... but I'm working on my schedule to bring more time back to RVM.

We are working on the instructions for users - I do not dare running `gpg2 --refresh-keys` for users, it has to be their thing, it can be ~~cron script (not a recommendation)~~, manual habit, or extra tool. But automation in security is not always a good solution. H

[2017-03-12 22:33] mvastola commented on #3956
@mpapis, oh, don't misunderstand me: that wasn't a criticism of you. This is open source.. as far as I'm concerned, it's not my place (or anyone's for that matter) to tell you you need to spend more time on this project. Anyone who leads a project inevitably set some expectations for their userbase, but none of them involves dedicating their lives to the project. In the end, you're guaranteed as m

[2017-03-13 09:01] mpapis commented on #3956
@mvastola, the warning idea sounds good, would you be able to open a PR with it?

[2017-03-14 15:48] ninp0 commented on #3862
+1

[2017-03-15 17:10] itsmeroy2012 opened #3958 "Ruby 2.3.x and older are not compatible with OpenSSL 1.1.x on Kali"
## Description:-

Failing to install ruby 2.3.3

## Steps to reproduce:-

On running the commands:-

 1. curl -L https://get.rvm.io | bash -s stable
 2. curl -o rvm.sh -L https://get.rvm.io
 3. cat rvm.sh | bash -s stable
 4. rvm --install $(cat .ruby-version)
 5. On running  'uname -v'
          #1 SMP Debian 4.6.4-1kali1 (2016-07-21)

 I also ran rvm get master as suggested and still the errors

[2017-03-15 22:20] pkuczynski commented on #3958
Could you please gist `/home/leolanders/.rvm/log/1489597153_ruby-2.3.3/make.log`?

[2017-03-16 16:15] OldManCoder commented on #3872
I'm new to Linux and github and I know this is an old thread but I was able to get it to work by:

_command curl -sSL https://rvm.io/mpapis.asc | gpg2 --import_

then

_curl -sSL https://raw.githubusercontent.com/wayneeseguin/rvm/master/binscripts/rvm-installer | bash -s stable_

Hope that helps someone else who, like me, doesn't really know what they're doing.  ;)

[2017-03-17 12:16] itsmeroy2012 commented on #3958
[one.txt](https://github.com/rvm/rvm/files/850479/one.txt)

[2017-03-17 12:56] pkuczynski commented on #3958
Could you please run and post here `rvm info` and also check if you have `libssl1.0-dev` or `libssl-dev` installed? It seems that you are running on Kali linux, which we do not have support yet. Which version of Kali linux are you running? Do you know which version of Debian it is based on?

[2017-03-17 18:21] itsmeroy2012 commented on #3958
#Command:-

sudo apt-get -y install   libssl-dev libssl1.0-dev

#Gives: -

Reading package lists... Done
Building dependency tree
Reading state information... Done
libssl-dev is already the newest version (1.1.0e-1).
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not

[2017-03-17 18:29] itsmeroy2012 commented on #3958
**leolanders@kali:~$ cat /etc/issue**
Kali GNU/Linux Rolling \n \l
**leolanders@kali:~$ uname -v**
#1 SMP Debian 4.6.4-1kali1 (2016-07-21)
**leolanders@kali:~$ lsb_release -a**
No LSB modules are available.
Distributor ID:	Kali
Description:	Kali GNU/Linux Rolling
Release:	kali-rolling
Codename:	kali-rolling

[2017-03-18 03:58] AaronM04 commented on #3846
This problem is still occurring with rvm 1.29.1 on OpenBSD 6.0 amd64. Here are the last several lines (I can't post it all due to tmux):

[code]

[2017-03-18 08:19] svyatov commented on #3944
Same thing for us, but we're using `.ruby-env` file. RMV does not read variables from this file anymore.

[2017-03-18 19:11] mvastola commented on #3956
You mean in `sign_releases.sh`? Probably, but not sure when I could promise it. (Definitely by the next time your key expires though! :-p)

[2017-03-19 18:24] roberts1000 commented on #3940
I ran into this warning/error as well.  I just built two fresh Ubuntu 16.04.2 guest on a desktop and laptop.  Both machines use VirtualBox 5.1.18, Ubuntu 16.04.2 and RVM 1.29.1.  The installation worked flawlessly for my desktop.  My laptop is writing this warning any time I use the `rvm` command.  I've compared the dot files between the desktop and laptop and there doesn't seem to be any relevant

[2017-03-20 11:33] mpapis commented on #3956
@mvastola not the script, I meant the messages that show up when rvm does key checks - we can extend the messages there to include `--recv-keys` and the update via file with `--import`.

[2017-03-21 02:40] canrosss commented on #3958
amd facing a similar problem..

compiling ossl_digest.c
In file included from ossl.h:58:0,
                 from ossl_digest.c:11:
/usr/include/openssl/asn1_mac.h:10:2: error: #error "This file is obsolete; please update your software."
 #error "This file is obsolete; please update your software."
  ^~~~~

[2017-03-21 03:28] salemine commented on #3948
+1

This error occurs on Solus Linux due to this line:
https://github.com/rvm/rvm/blob/master/scripts/functions/detect_systems/lsb_release#L12

Solus Linux is not a Debian flavour and does not have "dpkg" as a package manager.

[2017-03-21 09:17] mpapis commented on #3944
files with environment variables now require trusting, you got few options:

1. ignore trusting with `export rvm_trust_rvmrcs_flag=1` in shell configuration or global `rvmrc`
2. `rvm rvmrc trust /path/to/your/file`
3. copy trusting line from your local `$rvm_path/user/rvmrcs` to the remote

Setting up the `3` might be biggest effort - but should be worth the added security.

[2017-03-21 20:49] daBee opened #3959 "Third Party App RVM Ruby Gem Load Error"
I have a third party application (Launchbar on El Capitan) that I'm using to call a ruby script.  I am using 2.2.5, so it > minimum version.  Launchbar goes to load a gem called `clipboard`, but throws an error.

My ruby shebang is legit, and tested to show that it should grab the right ruby:

`#!/Users/rich/.rvm/rubies/default/bin/ruby`

This is validated in the error as well.  It simply cannot l

[2017-03-21 23:25] pkuczynski commented on #3959
Could you please check if the gem is installed globally for ruby 2.2.5:

`ls ~/.rvm/gems/ruby-2.2.5/gems/`

[2017-03-21 23:34] pkuczynski commented on #3958
@itsmeroy2012 and @canrosss could you please post output of following commands:

[code]

[2017-03-22 00:06] daBee commented on #3959
It is indeed.  `clipboard-1.1.1`

[2017-03-22 03:38] oysta opened #3960 "Spurious warning that `.profile` is not being sourced when using the `.` source alias"
## Description

I was getting warned that I wasn't sourcing `~/.profile` from my `.bash_profile` because I was using the `.` alias for `source` and the regular expression in `scripts/notes` was not created to detect this.

## Steps to reproduce

This occurred while updating rvm itself. I have a `~/.profile` file and my `.bash_profile` is set up to source it with:

    . $HOME/.profile

 1. run `rv

[2017-03-22 09:29] canrosss commented on #3958
Hi this its my output. Thanks

cat /etc/lsb-release
DISTRIB_ID=Kali
DISTRIB_RELEASE=kali-rolling
DISTRIB_CODENAME=kali-rolling
DISTRIB_DESCRIPTION="Kali GNU/Linux Rolling"

dpkg --print-architecture
amd64

[2017-03-22 10:01] pkuczynski commented on #3846
@AaronM04 please open new issue and post gist with content of rubygems.install.log

[2017-03-22 12:40] #3960 closed

[2017-03-22 14:52] asafjaffi opened #3964 "can't rvm install 2.0.0p648: ruby URLs do not exist (curl error 22)"
[code]

[2017-03-22 15:29] asafjaffi commented on #3964
I've `rvm reinstall 2.0.0` and all is OK.
Could be that I didn't specify the p648 part correctly in `rvm install 2.0.0p648`?

Anyway, I'll close the issue.

[2017-03-22 15:29] #3964 closed

[2017-03-22 16:01] raelgc opened #3965 "Add Ubuntu x64 16.04 binary for ruby 2.4.1"
## Description

Add Ubuntu x64 16.04 binary for [ruby 2.4.1](https://www.ruby-lang.org/en/news/2017/03/22/ruby-2-4-1-released/)

[2017-03-22 16:43] pkuczynski commented on #3964
`rvm install 2.0.0` is the correct way to install ruby

[2017-03-22 19:04] #3965 closed

[2017-03-22 20:19] itsmeroy2012 commented on #3958
root@kali:~# cat /etc/lsb-release
DISTRIB_ID=Kali
DISTRIB_RELEASE=kali-rolling
DISTRIB_CODENAME=kali-rolling
DISTRIB_DESCRIPTION="Kali GNU/Linux Rolling"
root@kali:~#
root@kali:~# dpkg --print-architecture
amd64

[2017-03-23 14:03] ShamoX commented on #3862
+1

[2017-03-23 14:24] pkuczynski commented on #3862
Yes, this got merged, but does not help in Kali case. I am working on a fix. Please follow #3958

[2017-03-23 14:26] bermannoah commented on #3862
@pkuczynski thanks! Will do.

[2017-03-23 19:24] urkle commented on #3831
@pkuczynski I'm receiving this error on 1.29.1 as well as master when installing ruby 2.2.5

[2017-03-24 07:50] mpapis commented on #3959
change the shebang to:

[code]

[2017-03-24 07:50] #3959 closed

[2017-03-24 13:57] ssbarnea opened #3967 "Unable to use rvm on MacOS when using zsh"
I switched to zsh few weeks ago but it seems that rvm is broken beyond repair, failing to activate itself.:

[code]

Doing `source "$HOME/.rvm/scripts/rvm` from the command line works, no output but after this you get the `rvm` command available.

Still, if you try to do this from inside the .profile file, you may get some weird errors:
[code]

Here is the snipped from `.profile`:
[code]
The funny

[2017-03-26 01:28] avkarenow commented on #3950
I have the same problem - every run of 'cd' command shows this error: cat: /dev/fd/63: No such file or directory. I tried it on fresh FreeBSD 10.3 installation with newest rvm stable version as normal system user (not root).

Any solutions?

[2017-03-26 04:47] ToadJamb opened #3968 "Unable to save project-specific irb history"
## Description

I am not able to use project-specific irb history files because rvm hard codes the history file path and name.

## Steps to reproduce

1. create `~/.irbrc`
[code]

2.
[code]

## Expected behavior

I expect to see `puts 'hello'` and `exit` as the last 2 entries in `~/my-project/.irb-history`.

## Actual behavior

I see `puts 'hello'` and `exit` as the last 2 entries in `~/.irb-histo

[2017-03-26 13:49] mpapis commented on #3921
done

[2017-03-26 13:49] #3921 closed

[2017-03-26 17:15] mpapis commented on #3950
What `bash --version` are you using?

[2017-03-26 17:22] mpapis commented on #3968
please check `$rvm_path/scripts/irbrc.rb`... maybe we need to update this file?

[2017-03-26 21:12] ToadJamb commented on #3968
I'm happy so submit a patch if it will help facilitate conversation. I have made the proposed changes locally, but obviously I'll have to make those changes every time I update rvm.

[2017-03-26 22:26] mpapis commented on #3968
@ToadJamb please show the changes, it looks like the `irbrc.rb` rvm is providing could be much simplified.

[2017-03-27 03:56] ToadJamb commented on #3968
@mpapis I opened a pull request: https://github.com/rvm/rvm/pull/3969

I didn't take time to evaluate what could be simplified. I just saw that it appeared to be doing 3 distinct things and modified the order of those 3 operations, combined with a minor change to support the use of `IRB.conf[:HISTORY_FILE]`.

[2017-03-27 12:45] albertnetymk commented on #3742
`rvm get head` gets me rubygem 2.6.11, but `rvm reinstall ruby-head` still fails for me.

`rvm reinstall ruby-head --rubygems 2.6.11` works, though.

[2017-03-27 22:04] avkarenow commented on #3950
$ bash --version
GNU bash, version 4.4.5(0)-release (amd64-portbld-freebsd10.3)

[2017-03-28 05:43] HoracyAmadeusz commented on #3950
$ bash --version
GNU bash, wersja 4.4.5(0)-release (amd64-portbld-freebsd10.3)

[2017-03-28 10:17] mpapis commented on #3931
I wonder if https://github.com/rvm/rvm-with could be extended to include a `temporary_gemset` flag?

[2017-03-29 11:51] raelgc opened #3971 "Add ruby 2.2.7 binary for Ubuntu 16.04 x64"
Add [ruby 2.2.7](https://www.ruby-lang.org/en/news/2017/03/28/ruby-2-2-7-released/) binary for Ubuntu 16.04 x64

[2017-03-29 19:27] blairanderson commented on #3330
@Cynth42 password has **nothing** to do with RVM. you should read this: http://askubuntu.com/questions/44418/how-to-enable-root-login

[2017-03-29 21:44] #3971 closed

[2017-03-30 10:40] pmontrasio commented on #3872
I'm still stuck with 1.27.0. Unfortunately ```rvm get master``` doesn't work because the tar.gz is damaged

[code]

This is confirmed by

[code]

[2017-03-30 10:50] pmontrasio commented on #3872
Solved: it was because I had this ~/.curlrc

[code]

Maybe you can call curl with the -q option that prevents it from reading the .curlrc file.

man curl on Ubuntu 16.04

[code]

[2017-03-30 19:22] Naxus28 opened #3974 "Installation finishes but several commands are missing in ./scripts/notes"
## Description

Some context: Not sure if this is related with the RVM issue but thought I should put it out here. I started learning Nativescript to work on a hybrid app so I had to update my XCode to the latest version (8.3) and my OS to Sierra (10.12.4).
To work with Nativescript I had to install ruby gems `xcodeproj` and `cocoapods`,  and I got this message on installation:
[code]

I did run

[2017-04-02 05:54] GiancarlosIO opened #3975 "Can't install ruby < 2.4.0 in elementaryOS-loki (Unable to locate package libssl1.0-dev)"
I have the lasted version of rvm and i'm getting this errors to try to install a ruby v-2.1.2:

![screenshot from 2017-04-02 00 50 58](https://cloud.githubusercontent.com/assets/17274950/24584774/85aba220-173e-11e7-89d8-5898695b2b56.png)

I have installed rvm with:

     -\curl -sSL https://get.rvm.io | bash -s stable --ruby

rvm version:

    rvm 1.29.1 (latest) by Michal Papis, Piotr Kuczynski,

[2017-04-02 06:04] GiancarlosIO commented on #3975
Closed, I just use:

    rvm get master

and now i can install ruby-2.1.2

[2017-04-02 06:04] #3975 closed

[2017-04-03 08:46] adeadman commented on #3950
I found [this comment](https://github.com/andsens/homeshick/issues/124#issuecomment-63984418) which suggests that Bash now needs fdescfs mounted at `/dev/fd` to function properly, but it is not done by FreeBSD by default.

[2017-04-03 11:09] mpapis commented on #3950
@adeadman I wonder if this can be checked so we can add a warning, my Ubuntu uses older Bash so I do not know yet how to check it - can you try `mount | grep "on /dev"`?

[2017-04-03 17:59] pcragone opened #3976 "ruby-2.3.1 fails to install on macos"
## Description

Unable to install ruby-2.3.1

## Steps to reproduce

 1. rvm install ruby-2.3.1

## Expected behavior

I expect it to install the ruby

## Actual behavior

[code]

## Environment info

[code]

[2017-04-04 07:16] t0dd opened #3977 "RVM Not installing on Ubuntu 16.04, x64"
Ruby 2.3.1p112 is currently installed

After installing the mpapis public key I ran

\curl -sSL https://get.rvm.io | bash -s stable

and the following error occurs:
mktemp: failed to create file via template ‘/usr/share/rvm-exec-test.XXXXXX’: Permission denied

attempted to run
sudo \curl -sSL https://get.rvm.io | bash -s stable

same error occurred.

[2017-04-04 12:00] hhalmeida commented on #3935
Hi, I have this problem, when install ruby-2.3.3, I use linux ElementaryOS (Loki), I tried to install this
[code]
... but it says it does not exist anymore, where I find it to install, or what would be another way to solve it, I'm with Ruby 2.4 installed.

my error :::
[code]

Best Regards

[2017-04-04 12:49] raelgc commented on #3977
Hi @t0dd and thanks for reporting this issue.

Please, can you try [our Ubuntu dedicated package](https://github.com/rvm/ubuntu_rvm)?

[2017-04-04 19:50] t0dd commented on #3977
That worked! Thank you!

[2017-04-04 19:50] #3977 closed

[2017-04-04 20:34] mathieujobin commented on #3717
workaround in the mean time...

[code]

[2017-04-05 08:59] #3968 closed

[2017-04-05 09:08] sunil1293 opened #3978 "Problem while installing Ruby"
[code]

[2017-04-05 14:29] mtolava commented on #3831
@pkuczynski I'm receiving this error on 1.29.1 as well as master when installing ruby 2.2.4

[2017-04-05 15:08] mtolava commented on #3831
found this and work

_Try to download the patch first, then install with local patch:_
[code]
https://www.reddit.com/r/archlinux/comments/49bw8j/rvm_fails_to_compile_ruby_with_openssl_102g3/

[2017-04-05 17:01] crashtech opened #3980 "Help with cd command problems using rvmrc flags"
## Description

I'm having trouble with ```rvm_project_rvmrc``` and ```rvm_project_rvmrc_default```. When they are enabled, I cannot run any command on directories that uses the configurations related to these settings. I really don't understand what's going on because I'm using a VM and the terminal simply disconnect. So I need a help to know a way to log what happens when I use the commands and

[2017-04-05 19:14] Ferdy89 commented on #3831
I actually don't think the patch failing this way is a big deal, since it fails when patching a test file. What worked for me was to edit the file
[code]
and delete the last part of the patch where it patches the `test/openssl/test_ssl.rb` file. I then installed Ruby 2.2.4 without any errors.

Although, I insist, I don't think the original error had any functional implications and it should be fin

[2017-04-06 08:33] olleolleolle commented on #3978
In order to build on OS X, the xcodebuild tools need to be installed.

This page may perhaps help you learn a little about them: http://railsapps.github.io/xcode-command-line-tools.html

Good luck!

[2017-04-06 22:42] coreyward opened #3981 "`rvm upgrade` fails; unclear error message presented"
The last few versions of Ruby I've tried to upgrade I've had issues in RVM. On Ruby 2.3.3 I built all gems fresh after `upgrade` borked my gemdir and I nuked it. Upgrading to 2.4.1 I'm having similar issues. I can't quite figure out what the actual error is based on the output:

[code]

## Steps to reproduce

Unclear; `rvm upgrade` appears not to work with either Puma or OJ or wkhtmltopdf, possibl

[2017-04-07 08:35] mpapis commented on #3981
did you try the `command gem pristine --extensions oj --version 2.15.1 puma --version 3.6.2 puma --version 3.6.0 puma --version 3.4.0 puma --version 3.1.0 puma --version 2.11.2` in new gemset?

[2017-04-08 16:40] #3948 closed

[2017-04-08 17:02] mpapis commented on #3980
`rvm_project_rvmrc` variable controls which method will be used for automatically loading project files when you operate your shell, there are two methods:
- `0` or actually anything else then the two next - disables the automated finding of project files
- `1` or `cd` which will hook into `cd`, `pushd` and `popd` to check for project files and automatically load them
- `2` or `prompt` which will

[2017-04-08 17:33] mpapis commented on #3978
hmm, we have detection if the command line tools are installed and it should be fine ... unless something changed, but I think it's first such report? was anyone else able to reproduce this problem?

[2017-04-08 17:35] mpapis commented on #3976
does `2.3.3` install?

[2017-04-08 17:45] mpapis commented on #3974
Please show us:
[code]

does this work:
[code]
?

[2017-04-08 17:51] mpapis commented on #3967
RVM does not support `sh` shell - and it's what `emulate sh` does, it is not `bash` emulation - they are two different things. I wonder if it's possible to detect if the zsh is in the emulation mode for other shells - RVM will not work with then and we should issue an warning about it.

[2017-04-08 18:00] mpapis commented on #3958
does `ruby-2.4.1` install?

[2017-04-08 18:01] pcragone commented on #3976
Negative.  Looks like the same error.

[2017-04-08 18:32] mpapis commented on #3957
Did you had any success solving this problem? The command already displayed you hint:
[code]
Let us know if there is something that can be done on RVM site to avoid the problem you are facing.

[2017-04-08 18:32] #3957 closed

[2017-04-08 19:38] mpapis commented on #3976
can I see `which -a openssl` - it is possible it's miss-configuration of openssl - or problems with older version

[2017-04-08 19:38] pcragone commented on #3976
[code]

[2017-04-08 19:40] pcragone commented on #3976
(For what it's worth, everyone was working fine for quite sometime, and then something broke at some point with readline.  As a result, I tried reinstalling readline, and somewhere along the process of that, I seem to have broken rvm)

[2017-04-08 22:31] mpapis commented on #3976
one more thing: `rvm autolibs status`

[2017-04-08 23:17] pcragone commented on #3976
[code]

[2017-04-09 02:34] crashtech commented on #3980
Thanks for the details about both settings, but what's happening on my server is that whenever I set ```rvm_project_rvmrc = 1```` and I navigate to a folder that has a project setting, something goes wrong and my session on the server is disconnected. So, probably there's something going wrong with the ```cd``` hook on my installation, and I'd like to know a good way to debug it and check what's t

[2017-04-09 09:27] mpapis commented on #3980
try:
[code]
and [gist](https://gist.github.com) the `rvm-trace.txt`

[2017-04-09 09:28] mpapis commented on #3953
Is this still a problem? Can you [gist](https://gist.github.com) the `/home/rich/.rvm/log/1488937403_ruby-2.3.2/make.log`?

[2017-04-09 09:34] mpapis commented on #3976
I'm assuming you are using homebrew.

1. Can you show me result of
[code]
2. Do you use any other package manager like fink or macports?

3. Did you upgrade your OSX recently?

4. Do you have any special environment flags that could influence compilation? (if not sure please [gist](https://gist.github.com) results of `env|sort`)

5. Could you try uninstalling all openssl from homebrew and running

[2017-04-09 10:09] mpapis commented on #3951
Do you happen to have a `Gemfile` in current directory or some shorter path?

[2017-04-09 10:28] mpapis commented on #3946
You can try:
[code]
I'm guessing this can be caused by multiple shell nestings, although I'm not sure it is that, I do not see anything else that could influence the coloring.

Is the flag working? If that's the case then level of complication for solving this problem without messing anything else up is so high I do not think anyone will be touching it.

[2017-04-09 10:31] pcragone commented on #3976
1.  Can you show me result of
`brew list -1 | grep openssl`
[code]

2.  Do you use any other package manager like fink or macports?
[code]

3.  Did you upgrade your OSX recently?
[code]

4.  Do you have any special environment flags that could influence compilation? (if not sure please gist results of env|sort)

[code]

5.  Could you try uninstalling all openssl from homebrew and running installat

[2017-04-09 10:32] pcragone commented on #3976
FWIW - it's not the end of the world if this is super broken and it's my fault.  I have a desktop I can get things done on when I need.  (And I should be spending all my time studying anyway - currently in medical school with boards in a month.)

But if I've discovered some kind of bug within RVM, I'm more than happy to keep helping you debug it.

[2017-04-09 10:55] mpapis commented on #3976
It is not a bug in code of RVM, but it's an bug in functionality of RVM :D

Most likely this problem is not caused by what RVM does, but RVM's ideology is to deliver frictionless ruby installation experience - so you could consider your problem a missing future ;)

In point `5.` did you try installing ruby again with rvm? Did it worked this time? Can I see the new output?

[2017-04-09 10:57] mpapis commented on #3935
@hhalmeida please try with `rvm get master` and if it does not work please open a new issue - this one is already solved.

[2017-04-09 11:01] mpapis commented on #3943
try `export rvm_use_flag=2`, if it works add it to your `~/.rvmrc`

[2017-04-09 11:06] pcragone commented on #3976
Haha alright.  Well I certainly appreciate the help.

Good news / bad news, but I'm thinking you're on to something here:

Good news: `rvm install ruby-2.3.3` worked and successfully installed ruby-2.3.3.

Bad news:
[code]

[2017-04-09 13:06] joshco commented on #3943
That works for me.

[2017-04-09 15:13] ybakos commented on #3946
Thank you, @mpapis. Here's my ~/.rvmrc:

[code]

And the prompt is still uncolored.

[2017-04-09 20:26] mpapis commented on #3976
@pkuczynski didn't we fight this problem recently?

[2017-04-09 20:38] mpapis commented on #3946
I just tried this:
[code]
can you try with `rvm reload`?

[2017-04-09 20:38] #3943 closed

[2017-04-09 20:50] mpapis commented on #3939
Removed IRC in RVM itself 8d48e00

[2017-04-09 21:44] mpapis commented on #3939
Removed on the site rvm/rvm-site@0a91a6f

[2017-04-09 21:44] #3939 closed

[2017-04-09 22:07] mpapis commented on #3883
Closing as there was no response in over a month, if this is still a problem please reopen this ticket.

[2017-04-09 22:07] #3883 closed

[2017-04-09 23:21] daBee commented on #3953
Sorry, the machine has been wiped.

[2017-04-10 02:20] ybakos commented on #3946
Repeating the above commands exhibits the results that you have - color after rvm reload.
I wonder why my ~/.rvmrc isn't causing the same behavior.
I also added `export rvm_pretty_print_flag=force` before the loading of rvm in my ~/.profile, but still no color.
The only time I can get the color is after an explicit `rvm reload`.

[2017-04-10 09:36] mpapis commented on #3946
Does it happen with starting new shell? Can you move `export rvm_pretty_print_flag=force` one line before `scripts/rvm` is sourced?

It is possible we have ordering bug (loading setup code before `~/.rvmrc`).

[2017-04-10 09:39] mpapis commented on #3953
Closing the ticket because of lack of information to continue the investigation, if anyone hits this problem - please provide additional information and we will reopen and continue investigation.

[2017-04-10 09:39] #3953 closed

[2017-04-10 13:52] ybakos commented on #3946
My ~/.profile is:

[code]

And new shells do not display the  in color.

Check this out, `scripts/rvm` is overwriting the `rvm_pretty_print_flag` variable. In a new shell:

[code]

If I comment out the execution of `scripts/rvm` in my .profile, but leave the `rvm_pretty_print_flag` exported, my env states that it is indeed `force`. But with the loading of `scripts/rvm`, it seems to get re-assigned

[2017-04-10 14:00] ybakos commented on #3946
Actually, the behavior I originally described above is incomplete. I've updated it. `rvm` is somehow unsetting the `rvm_pretty_print_flag` variable.

[2017-04-10 15:31] coreyward commented on #3981
@mpapis I had not tried that (again, had a hard time making sense of the error output). Here's the result of running that command:

[code]

Seems like those gems didn't get migrated?

[2017-04-11 02:35] Scotchester commented on #3830
Thanks, @waglebr. Your post helped me out tonight!

[2017-04-11 15:04] luto commented on #3942
I would also be interested in a rvm-binary release containing binaries for CentOS 7 :)

[2017-04-11 17:49] al-ralphrodkey opened #3983 "Can't install any rubies anymore"
## Description
I can't seem to install any rubies. My laptop has been through multiple OSX updates over the years, so it's not in any way fresh. Somehow things have gotten into a state where rubies will no longer install properly. I've tried 2.3.4, 2.4.0, and 2.4.1, and they all fail at the same point.

RVM has certainly worked for me in the past, but I haven't needed to install new versions in a

[2017-04-12 02:02] oldfritter opened #3984 "SSL certificate problem: unable to get local issuer certificate"
when you run
[code]
if you got this notice
[code]

ca-certificates  need to be installed
ubuntu
[code]

[2017-04-12 02:25] waglebr commented on #3830
Glad to help, @Scotchester! ;)

[2017-04-12 02:26] waglebr commented on #3830
Glad to help, @Scotchester! ;)

[2017-04-12 03:17] crashtech commented on #3980
https://gist.github.com/crashtech/497883249f722c8ce6b644124c0d6aa0
Now, probably after server reboot, some directories are working, but when I go to this specific one, any command that I try to run shows: `-bash: cat: command not found`

This is the directory tree:
[code]

Notice that I'm using some other version controllers like `PHPBrew` and `NVM`. So, maybe an intersection of `RVM` with one of

[2017-04-12 11:58] mpapis commented on #3981
@coreyward hmm, we have just pushed to master a fix that should make things more readable... I hope so, as for the command itself, can you try split it one gem at a time and see if they work?

[2017-04-12 12:35] pkuczynski commented on #3984
Added to the documentation https://github.com/rvm/rvm-site/commit/07677e9492e496928e202b9f42210c3c62a3608e

Thanks!

[2017-04-12 12:35] #3984 closed

[2017-04-12 13:22] pkuczynski commented on #3830
Added a note to the documentation: https://github.com/rvm/rvm-site/pull/304

[2017-04-12 14:18] pkuczynski commented on #3747
Added on rvm.io with following PR: https://github.com/rvm/rvm-site/pull/306

[2017-04-12 15:29] Scotchester commented on #3830
Looks good; thanks @pkuczynski!

[2017-04-12 18:11] raelgc opened #3985 "Add ruby-2.3.4 binary for Ubuntu 16.04 x64"
Add ruby-2.3.4 binary for Ubuntu 16.04 x64

[2017-04-12 20:50] #3985 closed

[2017-04-12 21:54] pkuczynski commented on #3831
@Ferdy89 I could provide the patch fix in RVM. Was there a specific version of openssl for which it fails to patch?

[2017-04-12 21:55] pkuczynski commented on #3831
@mtolava latest version of RVM should already have the openssl3.patch stripped down to the same level as the file you suggested. So I am surprised it did not worked! Which version of openssl do you use?

[2017-04-12 22:04] pkuczynski opened #3988 "Failing openssl.patch for Ruby 2.2.4 and 2.2.5"
Installation of ruby 2.2.4 and 2.2.5 fail due broken `openssl.patch`. Check conversation in https://github.com/rvm/rvm/issues/3831#issuecomment-288833298

[2017-04-12 22:07] mtolava commented on #3831
@pkuczynski really I don't know what version I was using (at that moment I have installed Ubuntu 16.04 with cinnamon interface). But now I change my SO to Ubuntu Mate 16.04 and works great!
My version now is 1.0.2g.

[2017-04-12 22:09] pkuczynski commented on #3831
That's fine. I think I found the problem and prepared solution in #3989. I also moved the whole conversation to #3988 for easier tracking in the future... Once @mpapis accepts my PR it would become available in RVM master (and later in 1.30 release)

[2017-04-12 23:26] pkuczynski commented on #3523
Check manually if running `apt-get update` is causing any errors? Most likely it does. You might find this article useful: http://www.sachingevariya.com/2015/08/requirementsdebianupdatesystem-ruby-222.html

[2017-04-12 23:26] pkuczynski commented on #3523
Closing as duplicate of #3411

[2017-04-12 23:26] #3523 closed

[2017-04-12 23:28] pkuczynski commented on #3612
@Debonian we possibly recognize your OS incorrectly. Can you re-try with latest RVM?

[2017-04-12 23:28] pkuczynski commented on #3612
Closing as this is an old issue and unlikely anyone will respond. Feel free to reopen if the issue persists.

[2017-04-12 23:28] #3612 closed

[2017-04-12 23:32] pkuczynski commented on #3432
This has been already solved in #3703

[2017-04-12 23:32] #3432 closed

[2017-04-13 10:38] #3823 closed

[2017-04-13 10:40] #3886 closed

[2017-04-13 11:13] #3988 closed

[2017-04-13 11:24] #3411 closed

[2017-04-13 19:19] coreyward commented on #3981
@mpapis Roger that. Just ran each individually, but none of them were found. Running without a version number works fine, however:

[code]

[2017-04-14 21:45] chumaitoe commented on #3605
Hello!  As @rys pointed out above, the signing key has expired by now:

[code]

I'm getting this expired key notice when running `rvm get latest` on OSX, today.

[2017-04-15 09:04] mpapis commented on #3605
try `gpg2 --refresh-keys D39DC0E3`

[2017-04-16 19:56] mpapis commented on #3981
This is odd, looks like somewhere on the way the gems got upgraded and then the pristine process did not work - do you happen to have the rest of logs from the upgrade process?

[2017-04-16 21:03] mpapis commented on #3946
try with:
[code]

[2017-04-17 00:20] ybakos commented on #3946
Thanks @mpapis . After doing as you instructed, I do now see that `rvm_pretty_print_flag` is intact before and after - it's no longer being unset.

However, now I'm back to the original issue. New shell sessions do not print rvm output in color when `cd`ing into a directory containing a _.ruby-gemset_ and _.ruby-version_, despite having `rvm_pretty_print_flag=force` set in my env. After I run `rvm

[2017-04-17 15:39] mpapis commented on #3946
@ybakos where do you set the flag? did you try this options:
1. before sourcing `scripts/rvm`
2. in `~/.rvmrc`

[2017-04-17 16:15] ybakos commented on #3946
My ~/.rvmrc:

[code]

My ~/.profile:

[code]

[2017-04-17 17:44] chumaitoe commented on #3605
Thanks, Michal.  It works, sorta...

[code]

So when I update rvm:

[code]

So not quite a clean run yet.  I am getting the update, it's just very noisy and would confuse a newer user.

[2017-04-17 18:34] mpapis commented on #3605
@chumaitoe did you trust the key? If not try:
[code]
We will be adding this extra step with this new instruction https://github.com/rvm/rvm/pull/3945/files

[2017-04-17 19:33] siku021 opened #3992 "Spelling error in the usage manual"
## Description

RVM is spelled incorrectly in the usage manual for RVM 1.28.0

note: super minor, i may be a grammar freak >.>

## Steps to reproduce

 1. in terminal, run: `rvm usage`

## Expected behavior

under section:
### Installing Ruby
the text should be:
"When no version specified, RVM will install latest ..."

## Actual behavior

the text is currently:
"When no version specified, RMV will

[2017-04-17 21:23] pkuczynski commented on #3992
Thanks for your report. This has been already fixed. Please upgrade to latest RVM :)

[2017-04-17 21:23] #3992 closed

[2017-04-17 23:24] chumaitoe commented on #3605
Yes, that is the happy magic!

[code]

The warning occurs because I use Bourne (also known as "correct"  :-p ) syntax, i.e.
`. ${HOME}/.profile`

[2017-04-18 00:24] Tapamus opened #3993 "Trying to Install Rails getting error"
## Description

Hello. I am new to programming and I am trying to installs rails but getting error. also try to use rvm get head and thats not working. I am on a windows computer using a Linux VM.

## Steps to reproduce

 1. ...used gem install rails didnt work
 2. ...used sudo gem install rails and it didn't work
 3. ...

## Expected behavior

## Actual behavior

 gem install rails
Fetching: i18n

[2017-04-18 00:44] #3993 closed

[2017-04-18 08:34] mpapis commented on #3605
@chumaitoe please open a new ticket for the `.` warning, I thought we handled it already - or if you feel like it maybe submit a PR for it?

@pkuczynski we got two things to do:
1. auto refresh keys
2. add trusting to instructions

I will leave this ticket open so it reminds us about it.

[2017-04-18 09:15] mpapis commented on #3946
One part of the fix is merged, for the other part we will have to investigate further.

[2017-04-18 09:22] mpapis commented on #3983
try `rvm fix-permissions`

[2017-04-18 14:51] al-ralphrodkey commented on #3983
Sounds like Cylance got surreptitiously installed on my laptop. It didn't turn out to be an RVM issue at all. Sorry for the confusion, and thanks for all the hard work!

[2017-04-18 14:51] #3983 closed

[2017-04-18 15:27] mrpalacios commented on #3958
Hello,
2.4.1 seems to install ok, here is my output:

%> cat /etc/lsb-release
DISTRIB_ID=Kali
DISTRIB_RELEASE=kali-rolling
DISTRIB_CODENAME=kali-rolling
DISTRIB_DESCRIPTION="Kali GNU/Linux Rolling"

%> dpkg --print-architecture
amd64

%> rvm info

ruby-2.4.1:
[...]
  rvm:
    version:      "rvm 1.29.1 (master) by Michal Papis, Piotr Kuczynski, Wayne E. Seguin [https://rvm.io/]"
    updated:      "

[2017-04-18 15:35] sophiaaar opened #3995 "Problem installing Ruby"
Below is the output from 'rvm install ruby-2.4.0 --debug'

Log prefix: /Users/sophia/.rvm/log/1492529475_ruby-2.4.0/
Log filesystem: local,
Log max name length: 250
Log file: /Users/sophia/.rvm/log/1492529475_ruby-2.4.0/remove.src.log
[2017-04-18 16:31:15] __rvm_rm_rf
__rvm_rm_rf ()
{
    __rvm_rm_rf_verbose "$@"
}
current path: /Users/sophia
PATH=/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/

[2017-04-18 15:38] pkuczynski commented on #3995
If you suggest that this is similar to #3978, did you tried to install xcode build tools?

[2017-04-18 15:39] pkuczynski commented on #3978
@sunil1293 did installing XCode command line tools helped to solve the issue?

[2017-04-18 15:39] sophiaaar commented on #3995
Yes, Xcode is up to date and the command line tools are installed. I've opened up Xcode to complete the installation

[2017-04-18 15:41] pkuczynski commented on #3995
Could you please gist `/Users/sophia/.rvm/log/1492529475_ruby-2.4.0/configure.log`?

[2017-04-18 15:43] sophiaaar commented on #3995
here you go https://gist.github.com/sophiaaar/227593e80c36015d0986bd861e81a1b5

[2017-04-18 16:09] pkuczynski commented on #3995
[code]

Do you use Homebrew?

[2017-04-18 16:11] sophiaaar commented on #3995
Yes I use Homebrew

[2017-04-18 16:12] pkuczynski commented on #3995
Show me:

[code]

[2017-04-18 16:13] pkuczynski commented on #3995
I assume you restarted terminal after installing XCode...

[2017-04-18 16:23] sophiaaar commented on #3995
Sophias-MacBook-Pro:~ sophia$ make --version
/usr/local/lib/ruby/gems/2.4.0/gems/make-0.3.1/bin/make:4:in `<top (required)>': undefined local variable or method `make' for main:Object (NameError)
	from /usr/local/bin/make:22:in `load'
	from /usr/local/bin/make:22:in `<main>'

Sophias-MacBook-Pro:~ sophia$ which make
/usr/local/bin/make

Sophias-MacBook-Pro:~ sophia$ brew list | grep automake
autom

[2017-04-18 16:44] pkuczynski commented on #3995
Ok, so I guess this is your problem, that for whatever reason it tries to use make from make gem: `/usr/local/lib/ruby/gems/2.4.0/gems/make-0.3.1/`

Could you please remove this folder and try again with the build?

[2017-04-18 16:53] bermannoah commented on #3958
Also confirming: I've been able to get 2.4 and higher to install. It seems like the problem is specific to 2.3.3.

[2017-04-18 17:02] sophiaaar commented on #3995
no luck :/ I deleted the folder, and even uninstalled then reinstalled make with brew, and the same error appears. :(

[2017-04-18 17:16] pkuczynski commented on #3995
What does `make --version` say now?

[2017-04-18 18:12] pkuczynski commented on #3605
`.` supposed to be fixed in master: https://github.com/rvm/rvm/commit/50005a9fb16ed9eb77355d2a9bd3d83b29d63d4e

@chumaitoe can you check what `grep -E '(source|\.).+profile' /Users/mayers/.bash_profile` outputs?

[2017-04-18 18:13] pkuczynski commented on #3605
@mpapis where would u like to add auto keys refresh?

[2017-04-19 09:32] mpapis commented on #3777
This is most likely fixed in latest version of RVM, please try again after `rvm get master`.

[2017-04-19 09:40] sophiaaar commented on #3995
Sophias-MacBook-Pro:~ sophia$ make --version
/usr/local/bin/make:22:in `load': cannot load such file -- /usr/local/lib/ruby/gems/2.4.0/gems/make-0.3.1/bin/make (LoadError)
	from /usr/local/bin/make:22:in `<main>'

[2017-04-19 09:41] sophiaaar commented on #3995
the last main had < >

[2017-04-19 09:47] pkuczynski commented on #3995
Remove file `/usr/local/bin/make` and run `brew install automake`

[2017-04-19 09:59] sophiaaar commented on #3995
it worked! I now have Ruby :) Thanks so much for helping me!

[2017-04-19 10:03] pkuczynski commented on #3995
You welcome :) This was not an RVM issue. It must have been something wrong with your system, especially make utility.

[2017-04-19 10:03] #3995 closed

[2017-04-19 10:29] mpapis commented on #3605
autorefresh - before we check file signatures - refresh only rvm developers keys, nothing more - for me it's mostly speed concern

[2017-04-19 10:32] mpapis commented on #3958
fixing this might require back porting patches from ruby

[2017-04-19 19:58] pareshsolanki29 opened #3996 "Cannot install Rails 5"
pareshs-MBP:~ pareshsolanki$ rvm install 2.4.0
Searching for binary rubies, this might take some time.
No binary rubies available for: osx/10.12/x86_64/ruby-2.4.0.
Continuing with compilation. Please read 'rvm help mount' to get more information on binary rubies.
Checking requirements for osx_brew.
Installing requirements for osx_brew.
Updating system.........
Installing required packages: autocon

[2017-04-19 21:14] pkuczynski commented on #3996
First of all in the future please comply with the format of the reported issue. Otherwise its hard to help.

Your problem seems to be with installing required packaged. Please try to run manually following command:

`brew install autoconf automake libtool pkg-config coreutils libyaml readline libksba openssl@1.1`

And fix all the issues which may arise. Then retry installing ruby 2.4.0

[2017-04-19 21:22] pareshsolanki29 commented on #3996
Hello Piotr, this command didnt work I still have an error
[code]

Thank You.

[2017-04-19 23:20] pkuczynski commented on #3996
Are you sure that you have latest brew installed? What does following commands output?

[code]

In my case:

[code]

[2017-04-19 23:28] pareshsolanki29 commented on #3996
I tried the command i am missing autoconf

[code]

[2017-04-19 23:32] pkuczynski commented on #3996
Hmm, you have a strange version of Homebrew. Maybe you should reinstall Homebrew before continue?

[2017-04-21 07:35] mpapis commented on #3996
@pareshsolanki29 did Homebrew remove `autoconf` in master?

[2017-04-21 07:51] mpapis commented on #3743
Is this still a problem, can you check `echo $rvm_path`?

[2017-04-21 10:19] pkuczynski commented on #3996
@mpapis I checked. They did not. It must be a problem with @pareshsolanki29 installation of hombrew as mine version shows different git hash.

You can also verify on some online searches:
* http://brewformulas.org/search?search%5Bterm%5D=autoconf
* http://braumeister.org/search/autoconf
* http://searchbrew.com

[2017-04-21 10:19] #3996 closed

[2017-04-21 15:37] pareshsolanki29 commented on #3996
Thanks Piotr, works perfect now.

[2017-04-23 21:26] zbomani03 opened #3998 "Cannot run first script in RubyMine and still get PATH not set up properly error"
## Description

Cannot run first script in RubyMine and still get `PATH is not properly set up` error

Following steps of Cucumber and cheese book.  I have outlined the steps taken to fix but not solved.

## Steps to reproduce

1. Installed Xcode 8 on Mac OS 10.12. and command line tools.
2. Installed RVM using `curl -L https://get.rvm io | bash -s stable`
3. `rvm list known` returns list of rubie

[2017-04-24 02:43] DrnglVrgs opened #3999 "Add support for Deepin (based on Debian)"
## Description

Still having the same issue as #3824, had to disable autolibs to be able to install ruby

## Expected behavior

Install Ruby

## Actual behavior

[code]

## Environment info

[code]

[2017-04-24 16:45] coldnebo opened #4000 "ruby-2.3.3 doesn't compile on Debian 8.3"
## Description

Trying to compile 2.3.3 fails on Debian 8.

## Steps to reproduce

    $ rvm install 2.3.3 --disable-binary

## Expected behavior

success!

## Actual behavior

[code]

## Environment info

[code]

[code]

[2017-04-24 16:54] coldnebo opened #4001 "Install from binaries has broken rubygems plugin errors on Debian 8."
## Description

Trying to install 2.3.3 on Debian 8 leads to a broken rubygems plugin errors.  (Trying to install from source instead leads to issue #4000).

## Steps to reproduce

[code]

## Expected behavior

Should install bundler to 2.3.3@global.

## Actual behavior

[code]

## Environment info

[code]

[code]

[2017-04-24 17:08] jrgifford commented on #4000
That's odd. I just pulled down a new debian 8 docker container to test against:
[code]

[code]

[code]

Are your packages out of date?

[2017-04-24 19:11] coldnebo commented on #4000
Not according to apt-get update/upgrade, but we have an internal mirror and manage our own build... so it could be out of date. It's certainly not 8.7.  Are you using stable?

[2017-04-24 19:14] coldnebo commented on #4000
I think this is a problem with our build of 8.3.

[2017-04-24 19:24] jrgifford commented on #4000
OK! If you decide that it isn't, feel free to reopen this and I'll dig in some more. I only spent a few moments on this over lunch.

[2017-04-24 21:24] coldnebo commented on #4000
So on further review with people at work, someone asked why Ruby isn't doing an autoconf test for SYS_random instead of assuming it can be called if it is defined, which seems like a bug.  They also mentioned fallback to /dev/urandom if the autoconf rule was testing properly.  This might be a Ruby 2.3.3 issue since rvm is just unpacking the source, no?

[2017-04-25 11:11] perlun commented on #3686
Very strange: this has now _reappeared_ with rvm head:

[code]

When I added the `-j 8` it started downloading and compiling it...

Can we reopen the original issue or should we file a new one about it?

[2017-04-25 14:28] pkuczynski commented on #3686
Please open a new issue. You might refer this one and suggest its similar.

[2017-04-25 15:25] pkuczynski commented on #4000
As you correctly pointed out, we are not responsible for developing Ruby. All RVM does is compile Ruby from source or install from binary when possible. For the first case, it also installs dependencies. Feel free to drop a bug report in Ruby repo https://github.com/ruby/ruby

[2017-04-25 15:30] pkuczynski commented on #4001
After having a look at #4000 I think this issue should be closed too, due to your non-standard version of Debian. Please feel free to re-open if you have some suggestions how we could make it work for you...

[2017-04-25 15:31] #4001 closed

[2017-04-25 17:04] pkuczynski commented on #3999
The reason for this is that RVM thinks that you run Debian 8 (jessie), while you run Deepin. Could which is based on lates unstable Debian, as far as I understand?

Could you please list output of following commands:
* ls /etc/*-release
* cat /etc/os-release
* cat /etc/lsb-release

[2017-04-26 01:29] DrnglVrgs commented on #3999
[code]

[2017-04-26 09:41] pkuczynski commented on #3999
Can I see `cat /etc/lsb-release` too please?

[2017-04-26 10:29] TheZoq2 commented on #3958
I had the same issue on arch when installing 2.3.3. The workaround described at the bottom of this page worked for me.

https://wiki.archlinux.org/index.php/RVM

[code]

[2017-04-26 10:56] HoracyAmadeusz commented on #3950
@mpapis
yes, it's not mounted in FreeBSD-10.3 by default bash installation.

[2017-04-26 11:36] HoracyAmadeusz commented on #3950
@mpapis
As far as I know mounting fdescfs is a security risc and my shell hosting provider is not going to mount it on his servers because of that. I think it may be an issue in case of many other hosting providers and the reason why it is not mounted by default in case of FreeBSD operating system.

[2017-04-26 11:45] DrnglVrgs commented on #3999
Is there

[code]

[2017-04-26 13:40] Naxus28 commented on #3974
Thanks for the response and sorry for the delay. I was pretty busy the past weeks.
Here is the information you asked:

__$SHELL --version`__:
`GNU bash, version 3.2.57(1)-release (x86_64-apple-darwin16)
  Copyright (C) 2007 Free Software Foundation, Inc.`

__echo $PATH__
`/Users/gferraz/.npm-packages/bin:/Users/gferraz/.nvm/versions/node/v7.3.0/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr

[2017-04-26 15:10] coldnebo commented on #4000
yep, will do.

[2017-04-26 17:17] pkuczynski commented on #3999
Can you please try:

[code]

[2017-04-26 18:39] jnoss commented on #3942
+1, I also agree this would be nice to have

[2017-04-26 23:03] govorov opened #4004 "Unknown subcommand `rvm gemset clear`"
## Description

When I run `rvm gemset clear` I receive a error:
[code]

## Expected behavior

I expect it to be working as described in documentation.

## Environment info
[code]

Thank you.

[2017-04-27 03:13] DrnglVrgs commented on #3999
Still showing the same problem
[code]

[code]

[code]

[2017-04-27 12:14] raelgc commented on #3942
Some binaries were already added by @ephracis. You need to update your RVM to get them. For new binaries (like `2.4.0`), contributions are welcome.

[2017-04-27 15:23] pkuczynski commented on #3999
I made some fixes. Can you please try again:

[code]

[2017-04-27 15:51] #3940 closed

[2017-04-27 22:55] Adilmuneer opened #4005 "Unable to install ruby 2.4.1 offline on centos"
## Description

## Steps to reproduce

 1. ...
 2. ...
 3. ...

## Expected behavior

## Actual behavior

* [command](https://gist.github.com/...)
* [config.log](https://gist.github.com/...) - only for issues with `install`
* [make.log](https://gist.github.com/...) - only for issues with `install`

**Debug mode**:
* [command](https://gist.github.com/...)
* [config.log](https://gist.github.com/...)

[2017-04-27 22:56] Adilmuneer commented on #4005
Checking requirements for centos.
Requirements installation successful.
Installing Ruby from source to: /usr/local/rvm/rubies/ruby-2.4.1, this may take a while depending on your cpu(s)...
ruby-2.4.1 - #downloading ruby-2.4.1, this may take a while depending on your connection...

Warning: Transient problem: timeout Will retry in 2 seconds. 3 retries left.

Warning: Transient problem: timeout Will

[2017-04-28 01:15] Adilmuneer commented on #4005
Solved it

[2017-04-28 01:15] #4005 closed

[2017-04-28 01:41] DrnglVrgs commented on #3999
I tried again, it works, it start the installation

[2017-04-28 07:37] #3999 closed

[2017-04-28 07:37] pkuczynski commented on #3999
Perfect! You can no switch back to master:

[code]

[2017-04-28 17:26] BjornMelgaard opened #4006 "Ruby 2.3.x and older are not compatible with OpenSSL 1.1.x on Arch"
1. Cant install ruby-2.3.1 (problem with openssl?) (2.3.3 - same) (same without CC=clang)
[CC=clang rvm install ruby-2.3.1 --debug](https://pastebin.com/hQbLpPFg)
[/home/bjorn/.rvm/log/1493399450_ruby-2.3.1/make.log](https://pastebin.com/hNqAa0jX)

2. rvm reinstall all --force

[code]

OS - archlinux, tried reinstall with `rvm implode`
[env|sort](https://pastebin.com/K3gMu2fZ)

[2017-04-28 17:39] chumaitoe commented on #3605
[code]

Apologies for the delay.  The nature of my job has me working in bursts.  So if I

`rvm get master`

I should expect to not see the warning, correct?

[2017-04-29 12:52] mpapis commented on #3605
indeed there should be no warning with rvm master

[2017-04-29 18:34] perlun opened #4007 "ruby 2.4.1 install fails without error"
This is very similar to #3686, it feels like it has come back.

The problem reported there has _reappeared_ with rvm head:

[code]

It doesn't compile or install it, and it gives no errors.

When I added the `-j 8` it started downloading and compiling it... Is there something weird going on with the CPU detection again?

[2017-04-30 07:46] mpapis commented on #3651
now also fails `rvm use rbx --install --binary --fuzzy` (more details with `--debug`)

[2017-05-01 14:02] Naxus28 commented on #3974
#

[2017-05-02 15:47] masterkain opened #4008 "rb_thread_fd_close patch for ruby 2.3.4"
https://www.ruby-lang.org/en/news/2017/03/30/ruby-2-3-4-released/

ruby 2.3.4 has a known problem about rb_thread_fd_close.

some mainstream (ubuntu) package maintaners are applying this patch in their packages, should we do this as well?

[2017-05-02 23:39] chumaitoe commented on #3605
Confirm that master is a clean run:

[code]

Very nice!

[2017-05-02 23:40] chumaitoe commented on #3605
I should add GPG to be complete...

[2017-05-02 23:48] chumaitoe commented on #3605
Hmmm... I have gpg.  Oh, well, I can investigate that separately.  I consider this issue fixed, for what that's worth.

[2017-05-03 04:48] youngd24 commented on #3958
I am having the same issue trying to install the BeEF framework on Kali 2.0 with updates current as of today. The BeEF installer script here, https://raw.githubusercontent.com/beefproject/beef/master/install-beef, runs this line to install rvm:

curl -Lsk https://raw.githubusercontent.com/wayneeseguin/rvm/master/binscripts/rvm-installer | bash

I attempted the most recent suggestion of:

$ rvm pkg

[2017-05-03 07:24] mpapis commented on #3974
in new terminal (close it all and open fresh window) please run:

[code]

and [gist](https://gist.github.com) the `big.log`

[2017-05-03 07:26] mpapis commented on #4008
yes we should, could you open a PR with the patch? let us know if you need any guidance.

[2017-05-03 07:27] mpapis commented on #4007
can you show us gist of `rvm --trace install 2.4.1 2>&1 | tee big.log`

[2017-05-03 07:33] mpapis commented on #4000
I might add that when ruby fixes it we can add a patch to address it in older rubies.

[2017-05-03 07:36] mpapis commented on #4006
it looks like ruby-openssl problem, please check other open issues if they contain any information about 2.3 and backporting openssl patch from ruby 2.4

[2017-05-03 07:39] mpapis commented on #4004
Related doc page https://rvm.io/gemsets/clear - I guess this is equivalent of `rvm use @default`... but the `clear` name is so confusing, I thought it was same as `empty` - but it's not.

[2017-05-03 07:40] mpapis commented on #4004
Also this might have been like this for a while, it might be better to update docs to point to the new command `rvm use @default`.

[2017-05-03 07:50] mpapis commented on #3998
You are using:
  `/Users/zbomani/.rvm/rubies/ruby-2.2.6/bin/ruby`,

try instead:
  `/Users/zbomani/.rvm/wrappers/ruby-2.2.6/ruby`

it will load the proper environment and should fix issue with `PATH is not properly set up`.

[2017-05-03 07:51] #3225 closed

[2017-05-03 09:01] perlun commented on #4007
@mpapis Hmm, I installed it with `-j 8` and now that I uninstalled it it seems to work... so I must have unbroken it. 😊

I suggest we keep this open for a while, if someone else has a repro we can dig in more but otherwise, we can just close it as "can't reproduce".

[2017-05-03 15:22] Naxus28 commented on #3974
@mpapis: "big.log" is not that big so I think I can just paste the result here: `+  :   25 > source /Users/gferraz/.rvm/scripts/rvm` (probably not relevant but the number on the result increments by 6 every time I run the command).

[2017-05-03 15:32] coldnebo commented on #4000
Just as a postscript for people who stumble into this same issue, I was able to work around it by doing this:

    rvm install 2.3.3 --disable-binary --patch /tmp/rubyvm.patch

rubyvm.patch: https://gist.github.com/coldnebo/98d6166feb4c16220afe451a012c98a0

[2017-05-03 15:42] mpapis commented on #4000
@coldnebo did you open a ticket for ruby with the fix?

[2017-05-03 15:50] coldnebo commented on #4000
Ah, looks like someone (Eric Wong) beat me to it (4 months ago!), even submitted the same patch!

* https://bugs.ruby-lang.org/issues/13103

[2017-05-03 15:58] mpapis commented on #4000
so this patch is approved by ruby and we should just backport it?

[2017-05-03 16:01] mpapis commented on #3974
hmm, what about `type source` and if it's `source is a shell builtin` also check `/Users/gferraz/.rvm/scripts/rvm`

[2017-05-03 16:16] coldnebo commented on #4000
I may not be the one to ask, but it looks like the issue is still 'open', so maybe needs to go through a round of acceptance testing before final approval and close?  It seems harmless enough. How 'aggressive' is rvm in applying patches for these kinds of issues?  :)

[2017-05-03 18:01] Naxus28 commented on #3974
@mpapis: `type source` yields `source is a shell builtin`.  `/Users/gferraz/.rvm/scripts/rvm` is an empty file.

[2017-05-03 19:35] RiccardoMPesce opened #4009 "Problem while trying to switch to system ruby"
## Description

I am trying to switch to system installed ruby, but if I use both `sudo rvm use system --default` or `rvmsudo rvm use system --default`, I get the following error:

[code]

## Steps to reproduce

I use Arch Linux (AntergOS) with rvm v1.29.1, zsh with oh-my-zsh with the following .zshrc file [zshrc.txt](https://github.com/rvm/rvm/files/974458/zshrc.txt)

## Expected behavior

I expe

[2017-05-04 07:56] mpapis commented on #4009
TLDR: drop `sudo`.

This is because you are prefixing `sudo` to the `rvm` command, it will not work as `use` requires for `rvm` to be loaded as a function, when you run it with `sudo` it does work as a `bin/rvm` binary, it can not change your environment which it is supposed to do.

@pkuczynski we could customize the displayed message to detect `$SUDO_USER` and then show different message to drop

[2017-05-04 12:35] victorlcampos opened #4011 "Error while installing Ruby on Cygwin"
Hi Guys,
First, sorry for my English, it's not my first language.

I'm trying install ruby (2.3.3, 2.4.1, 2.3.4) using rvm  on Windows but I'm getting a lot of errors (probably my fault).

Here the logs:

https://gist.github.com/victorlcampos/aa3bd837382e5d2095ca49e91e208179

When I run rvm install 2.4.1 the error occurs on install part

[2017-05-04 19:33] zbomani03 commented on #3998
Awesome sauce….Thank you. 

From: Michal Papis <notifications@github.com>
Reply-To: rvm/rvm <reply@reply.github.com>
Date: Wednesday, May 3, 2017 at 3:50 AM
To: rvm/rvm <rvm@noreply.github.com>
Cc: zbomani03 <zbomani03@yahoo.com>, Author <author@noreply.github.com>
Subject: Re: [rvm/rvm] Cannot run first script in RubyMine and still get PATH not set up properly error (#3998)

You are using:
/Users

[2017-05-05 07:21] HoracyAmadeusz commented on #3950
@mpapis
Can current script be adapted to work without fdescfs to fix that?

[2017-05-05 08:25] ardahaal opened #4012 "Failing to install ruby 2.3.4 on rvm 1.29.1 due to openssl issue"
## Description

Hello. I cannot install ruby 2.3.4 with rvm 1.29.1 (branch master) on antergos (arch). I've got two versions of openssl - 1.1.0.e-1 and 1.0.2.k-3. I've spent on this few hours already and cannot find proper solution. In addition I have to use ruby 2.3.4 for proper deployment in one of my current projects.

## Instalation with openssl 1.1

* [rvm install 2.3.4 --debug](https://gist.

[2017-05-05 08:26] ljachymczyk commented on #4012
Same thing here.

[2017-05-05 09:32] 2ge opened #4013 "OSX, unbound variables when set -o nounset"
Hi,

new RVM user here using bash. I tried to install RVM, but it fails when doing `rvm list`. I find out the issue is in .bashrc `set -o nounset`, when I removed it, it works properly. Please fix it in `.rvm/scripts/rvm`

with `set -o nounset`
[code]

without `set -o nounset`
[code]

[2017-05-06 00:53] #3998 closed

[2017-05-06 12:08] Oxylibrium commented on #3950
The cPanel I use also doesn't mount fdescfs. Fix?

[2017-05-07 04:13] sxlijin commented on #4012
Same issue with `rvm install 2.3.3` and OpenSSL 1.1.0e:

[code]

[2017-05-08 07:08] ardahaal commented on #4012
@sxlijin Thank you kindly. Worked like a charm!

[2017-05-08 07:08] #4012 closed

[2017-05-08 21:58] jongross opened #4015 "unable to install latest master"
## Description

I am unable to install the latest version due to an error about '.github/: unable to update time for .github'.

## Steps to reproduce

issue a 'rvm get stable'

## Expected behavior

I would expect to upgrade to the latest version

## Actual behavior

* [command](https://gist.github.com/jongross/e1782f53f0255df68b6ed7b15534343f)

## Environment info

$ rvm info

ruby-2.4.0-rc1:

[2017-05-08 22:50] CamJN commented on #3736
Still broken in 1.29.1: https://travis-ci.org/phusion/passenger/jobs/230148148

[2017-05-09 11:52] HoracyAmadeusz commented on #3950
Any hope to get this fixed?

[2017-05-10 09:42] letu81 commented on #3638
echo "source /etc/profile.d/rvm.sh" >> ~/.bash_profile

vi ~/.bashrc ###then save

if [ -f ~/.bash_profile ]; then
    . ~/.bash_profile
fi

[2017-05-10 13:02] pentestgou1 opened #4019 "Install Ruby 2.1.5 error : Error running '__rvm_make -j2'"
-  rvm get master (did not help)
## Description

Can't get ruby 2.1.5 with RVM on Kali 2017.1 (Clean & updated image)

## Steps to reproduce

**1. root@kali:~# getent group rvm
rvm: x: 1000:root**
**2. root@kali:# source /etc/profile.d/rvm.sh
3. Restart**
**4. root@kali:~# rvm install 2.1.5**
ruby-2.1.5 - #removing src/ruby-2.1.5..
Searching for binary rubies, this might take some time.
No binary

[2017-05-10 14:19] mpapis commented on #3950
this will require bigger investigation on our side (even with replicating the conditions) - and then rewriting some of the functionalities, this will take time, lots of time -> @pkuczynski WDYT?

[2017-05-10 15:14] #4008 closed

[2017-05-10 15:25] pkuczynski commented on #4015
Could you please gist result of `rvm get master --debug`

[2017-05-10 16:02] jongross commented on #4015
you bet:

https://gist.github.com/jongross/00b26de7be8d8f8b23486e2f26de729f

[2017-05-10 16:10] pkuczynski commented on #4015
Here comes your problem:

[code]

Can you run the download process manually and see it it works?

[code]

[2017-05-10 16:24] jongross commented on #4015
Ah.

`$ curl -O https://github.com/rvm/rvm/archive/master.tar.gz
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   115    0   115    0     0    717      0 --:--:-- --:--:-- --:--:--   718

gross@SEA-ML-GROSS1: ~
$ cat master.tar.gz
<html><body>You are being <a href="https://codeload.gi

[2017-05-10 16:38] pkuczynski commented on #4015
So your problem is fixed?

[2017-05-10 16:41] jongross commented on #4015
Yes, doing a manual upgrade fixed it.  I'm still a bit puzzled as to how it got jacked up in the first place, but it's working now.

Thanks for the assist

[2017-05-10 16:54] pkuczynski commented on #4015
Hmm, not sure either. For your future reference, using `rvm get master` usually helps ;)

[2017-05-10 16:54] #4015 closed

[2017-05-10 17:07] AnthonyWC opened #4020 "Could not extract RVM sources"
Not exactly what I did wrong but getting these error in a new install of rvm.

[code]

[code]

Also what is the proper permission for /usr/share/rvm?

[code]

[2017-05-10 17:19] pkuczynski commented on #4020
Looks like the same as #4015. Could you try solution provided there?

[2017-05-10 18:31] AnthonyWC commented on #4020
I did follow the steps there & manual run the install script which runs ok but it did give me another error message:

[code]

[2017-05-10 19:18] AnthonyWC commented on #4020
Not sure if I should close this ticket and open a new one but it looks like rvm is updating itself when I do an apt-get which seems bizarre, e.g.:

[code]

[2017-05-10 21:40] raelgc commented on #4020
@AnthonyWC Sounds like you have the [Ubuntu package](https://github.com/rvm/ubuntu_rvm) installed and is trying to install rvm manually too.

[2017-05-10 23:00] chumaitoe commented on #3605
@mpapis  Do I not qualify towards the "feedback needed" tag?  Is there anything I can do to help get this fix released?  Thanks for all your help!

[2017-05-11 04:18] AnthonyWC commented on #4020
@raelgc yes I did install the ubuntu rvm; is this a bug or just some mishap from my part?

Also I am not a ruby dev so I rather not spend too much time on this; I am ready to just nuke rvm and start over; is there an "easy" way to do that?

[2017-05-11 13:10] #4004 closed

[2017-05-11 18:39] mtolava commented on #3831
Hello @pkuczynski. I have the same issue again, and now can give you more information
I back to install **ruby 2.2.4** with RVM. I made a **multiuser Install** of RVM, I'm working now with a fresh installation in **Debian Jessie 8.8 64bits**. My RVM version is: **rvm 1.29.1 (latest)**.
I made a successful installation of ruby 2.3.3 in the same server.
This is the trace of the instalation of 2.2.4:

[2017-05-11 20:47] pkuczynski commented on #3831
@mtolava fix is applied to latest version (not released yet). Try:

[code]

[2017-05-12 03:02] JohnMerlino2 opened #4024 "Your Ruby version is 2.0.0, but your Gemfile specified 2.1.2"
I initially asked the question here:

http://stackoverflow.com/questions/43402916/your-ruby-version-is-2-0-0-but-your-gemfile-specified-2-1-2

But none of the provided solutions worked for me.

I do not even have ruby  2.0.0 installed on my system, yet I get the following error:

$ bundle exec passenger-status
Your Ruby version is 2.0.0, but your Gemfile specified 2.1.2

I updated bundler, and whe

[2017-05-12 04:59] BrianHawley opened #4025 "Ruby 2.3.4 fix_rb_thread_fd_close.patch fails on macOS 10.12.4"
## Description

The patch added in #4010 failed to apply on macOS 10.12.4 with Xcode 8.3.2.

## Steps to reproduce

 1. Fresh install of rvm master
 2. `rvm install --disable-binary ruby-2.3.4`

## Expected behavior

Expected no error, just a message that the patch applied.

## Actual behavior

[code]

Here's the patch log file mentioned:
[code]

## Environment info

[code]

[2017-05-12 05:00] BrianHawley commented on #4025
Doesn't seem like it's too scary, just that it didn't apply because the file it was supposed to be patching isn't there somehow. Maybe macOS doesn't need this patch, or needs a different one.

[2017-05-12 09:12] masterkain commented on #4025
yesterday I run `rvm get head` and installed the patch with success on Sierra.

however today I tried to install it on the servers and I get the same issue.

[code]

[2017-05-12 14:54] pkuczynski commented on #4025
@masterkain as this was your PR, can you please investigate a bit further?

[2017-05-12 15:02] pkuczynski commented on #4024
Can you check and post back:

[code]

[2017-05-12 18:54] afischer opened #4029 "Simplify and cleanup of `rvm help` output"
## Description

Currently, running `rvm` or `rvm help` will [`cat` the readme with some additional information](https://github.com/rvm/rvm/blob/767fa24888fcf65e01b49c9a1e0fd811e48752c2/scripts/help#L58-L67). This can be overwhelming, as the readme contains information not pertinent to rvm usage (including image tags or badges, etc.) and is formatted as a markdown document. Different column sizes m

[2017-05-12 20:55] raelgc commented on #4020
If you installed using the package, there is no need to run the manual install steps, rvm will work.

Try to remove the package with `sudo apt purge rvm`. After it finishes, check if you have any presence of `/usr/share/rvm` and delete the folder in case it's present.

Run all the Ubuntu package instructions again, including logout/login.

[2017-05-13 13:44] dantmnf opened #4030 "Unexpected error message on changing working directory"
## Description
Get similar error messages every time when changing the working directory.

## Steps to reproduce
[code]

## Expected behavior
No errors.

## Actual behavior
Get complains of file not found.
When I check /tmp, I found the files with .lnk suffix instead
[code]

I think there may be something wrong with Cygwin, but I can't find which part of rvm triggered this.

## Environment info
[c

[2017-05-13 21:54] AnthonyWC commented on #4020
Thanks, I ended up doing rvm implode --force & did sudo apt purge rvm.

[2017-05-13 21:54] #4020 closed

[2017-05-14 15:50] dantmnf commented on #4030
Problem disappeared after fixing permissions in /usr/local/bin
(still don't know why this happens)

[2017-05-14 15:50] #4030 closed

[2017-05-14 19:24] krionical commented on #3958
@TheZoq2 I second this solution for arch linux. Some sort of ssl problem and complaints of the file being obsolete were resolved with this work around.

[2017-05-15 17:42] akiradeves opened #4031 "Error Running "rvm install 2.4.0""
I'm trying to install ruby 2.4.0 on CentOS 6.9, and get this error.

[code]

Thank you for your help!

[2017-05-16 06:45] BjornMelgaard commented on #4006
[solution for archlinux](https://github.com/rvm/rvm/issues/3958#issuecomment-297342512)

[2017-05-16 07:50] mpapis commented on #4006
@BjornMelgaard this is not proper solution, we (@rvm) need to add a patch that will fix installation with system openssl, the problem is finding proper patch that from MRI.

[2017-05-16 10:29] pkuczynski commented on #3958
@mpapis backporting a patch would not be possible as old versions or Ruby are not compatible with OpenSSL 1.1

[2017-05-16 10:33] pkuczynski commented on #3958
I prepared a patch and added a full support for Kali. This should solve the issue with OpenSSL too.
@krionical, @youngd24, @TheZoq2, @bermannoah, @mrpalacios, @itsmeroy2012, @canrosss could you please try following:

[code]

If it fails, please gist logs and output.

[2017-05-16 10:43] pkuczynski commented on #4006
@BjornMelgaard, I prepared a fix for you. Could you please try following:

[code]

Once this is a confirmed fix, I will update https://wiki.archlinux.org/index.php/RVM

[2017-05-16 10:52] BjornMelgaard commented on #4006
I can rvm implode and install again
[code]

[2017-05-16 10:52] pkuczynski commented on #4007
No point to keep it open as it gets on my way when planning work. We can always re-open when we get more detailed reports.

[2017-05-16 10:52] #4007 closed

[2017-05-16 11:00] perlun commented on #4007
Fine with me, thanks anyway.

[2017-05-16 11:49] pkuczynski commented on #4006
@BjornMelgaard, could you please try again:

[code]

[2017-05-16 12:01] BjornMelgaard commented on #4006
@pkuczynski  I made implode and ...

[code]

[code]

also it seems like you rootified my dirs)
[code]

[2017-05-16 12:12] pkuczynski commented on #4006
The only change which was made in this branch was about openssl library. I know old versions of ruby are not compatible with latest openssl 1.1. Ruby does not plan to support new openssl with old ruby. So I need to figure out an alternative solution. Let me think about it...

[2017-05-16 12:15] pkuczynski commented on #4006
@BjornMelgaard can you check if you have now openssl-1.0 installed in your system and what's the location for it?

[2017-05-16 12:23] BjornMelgaard commented on #4006
[code]

[2017-05-16 12:37] pkuczynski commented on #4006
@BjornMelgaard and now please:

[code]

[2017-05-16 12:38] BjornMelgaard commented on #4006
[code]

[2017-05-16 12:46] pkuczynski commented on #4006
One more time please :)

[code]

[2017-05-16 16:04] raelgc commented on #4020
Just in case someone is reading this: the `sudo apt remove` (or `purge`) already runs `--force implode`. So, if you're using only the package, just uninstall it.

[2017-05-16 18:19] Syntaf opened #4035 "Permission denied error on any RVM installs"
## Description

I am attempting to install Ruby on Rails using [this](http://railsapps.github.io/installrubyonrails-ubuntu.html) guide, however RVM is quite confusing. After downloading RVM, I tried doing the following:

`rvm install ruby`

which gave me the error you see in 'actual behavior'

## Steps to reproduce

I simply followed the guide

## Expected behavior

I literally just want to use Ro

[2017-05-16 18:35] felixbuenemann commented on #3923
If you still run into this issue and you are using rvm-1.29.1 or later it is likely caused by a pre-1.1 OpenSSL version that is installed or symlinked to `/usr/local`.

You can check which formula `/usr/local/bin/openssl` is symlinked to and to a `brew unlink <fomula>` and then do a `rvm reinstall` of the broken ruby version.

[2017-05-16 18:36] Syntaf commented on #4035
The issue was caused by not logging out and in

[2017-05-16 18:36] #4035 closed

[2017-05-16 20:22] pkuczynski commented on #4019
This is most likely connected with #3958. Could you please try:

[code]

[2017-05-17 11:11] HugeTerrificSpider opened #4037 "Incorrect platform triplet on 64bit FreeBSD-10"
## Environment info

 rvm:
    version:      "rvm 1.29.1 (latest) by Michal Papis, Piotr Kuczynski, Wayne E. Seguin [https://rvm.io/]"
    updated:      "2 months 9 days 18 hours 28 minutes 46 seconds ago"
    path:         "/home/spider/.rvm"
    autolibs:     "[4] Allow RVM to use package manager if found, install missing dependencies, install package manager (only OS X)."

## Issue

ruby:

[cod

[2017-05-17 11:50] pkuczynski commented on #4037
Can you explain the difference in the call between `ruby` and `RVM`? Where do you get this output from?

[2017-05-17 12:16] HugeTerrificSpider commented on #4037
@pkuczynski
1st is ruby installed from FreeBSD ports and then I run irb.
2nd is ruby installed using rvm and then I run irb.

Is this sufficient answer?

[2017-05-18 10:52] mpapis commented on #4037
This is Ruby owns the `RUBY_PLATFORM`, as mentioned in https://bugs.ruby-lang.org/issues/9993 at the end, it's set earlier by autotools, only finding why autotools do set this values can help, I did investigate and there is no flag used in RVM to trigger this behavior.

[2017-05-18 10:53] mpapis commented on #4037
We will gladly incorporate any changes that can fix the problem in ruby.

[2017-05-18 15:20] edbond commented on #4025
@masterkain Change branches/ruby_2_3/thread.c  to just thread.c
👍

[2017-05-18 15:25] #4025 closed

[2017-05-18 16:15] pkuczynski commented on #3399
Fair point. Fixing this in #4039 based on the wider input from #4029.

[2017-05-18 16:15] #3399 closed

[2017-05-18 16:16] pkuczynski commented on #4029
Fair point. Prepared a fix based on your input (with some minor modifications)

[2017-05-18 17:52] #4029 closed

[2017-05-18 17:52] pkuczynski commented on #4006
@BjornMelgaard any luck this time?

[2017-05-18 17:53] pkuczynski commented on #3958
Anybody having a minute to test it please?

[2017-05-18 17:55] youngd24 commented on #3958
Sure, I have a little time, what do you need done?

[2017-05-18 17:56] youngd24 commented on #3958
Sure, what would you like done?

From: Piotr Kuczynski <notifications@github.com<mailto:notifications@github.com>>
Reply-To: rvm/rvm <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, May 18, 2017 at 12:53 PM
To: rvm/rvm <rvm@noreply.github.com<mailto:rvm@noreply.github.com>>

[2017-05-18 18:03] youngd24 commented on #3958
Sure, I have a few, what do you need done?

From: Piotr Kuczynski <notifications@github.com<mailto:notifications@github.com>>
Reply-To: rvm/rvm <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, May 18, 2017 at 12:53 PM
To: rvm/rvm <rvm@noreply.github.com<mailto:rvm@noreply.github.com>>

[2017-05-18 20:58] BjornMelgaard commented on #4006
Sorry, I forgot :smile:

[code]
[pastebin](https://pastebin.com/PgT5f0tU)

[2017-05-18 21:44] mattscilipoti opened #4040 "rvm install 1.9.3p448 fails. The requested url does not exist, no fallback."
## Description

I was just asked to maintain a project that requires ruby 1.9.3-p448.  I will upgrade it, but first, I need to test it.

`rvm install 1.9.3p448` fails.  The bz2 file is not where indicated (`'https://cache.ruby-lang.org/pub/ruby/./ruby-1.9.3p448.tar.bz2'`).
It is available at `https://ftp.ruby-lang.org/pub/ruby/1.9/ruby-1.9.3-p448.tar.bz2`

I have searched for ways to specify this

[2017-05-18 21:53] jonasporto commented on #4040
You can specify the binaries location using
[code]

[2017-05-18 21:57] mattscilipoti commented on #4040
I found this: https://rvm.io/rvm/offline#download-ruby-rubygems-and-yaml.  I copied the bz2 to archives.
[code]
The instructions kind of left me hanging after that.  I tried:
`$ rvm install 1.9.3-p448`

Same result.  I attempts to download anyway and fails.

[2017-05-18 22:22] mattscilipoti commented on #4040
I just tried those last steps all over again and it worked.  Not sure what I missed the first time.
Can you think of a place where we can put these instructions? The offline section probably isn't appropriate.

[2017-05-19 02:29] njm2112 commented on #3974
followed all of the above instructions (up to [this one](https://github.com/rvm/rvm/issues/3974#issuecomment-298839939)) with identical results; results of my `big.log` are [gist](https://gist.github.com/njm2112/95221fce8b362f8621b71dd52441fadc)'d:
[code]
@mpapis: This is different from @Naxus28; does my output tell you anything about the cause for this on my system?

result of running `type sourc

[2017-05-19 04:03] gitchegumee1 opened #4041 "PATH not found - What does this mean and what do I need to do?"
Anytime I try to issue a basic rvm command I get the prompt below. It happens anytime that I write rvm get stable, rvm list rubies, etc. Please help! I tried to reinstall rvm, delete rubies and reinstall them but nothing is working. Appreciate your help.

Warning! PATH is not properly set up, '/Users/sharp.christensen/.rvm/gems/ruby-2.3.0/bin' is not at first place.
         Usually this is caused

[2017-05-19 10:46] raelgc commented on #4041
@gitchegumee1, in order we can help you, please, can you fill all the requested info while opening a rvm bug?

[2017-05-19 11:17] pkuczynski commented on #4041
Can you post `echo $PATH`?

[2017-05-19 11:24] pkuczynski commented on #3958
Run following commands and if they fail, post the output:

[code]

[2017-05-19 11:48] pkuczynski commented on #4040
Well, first of all you was initially installing wrong version `rvm install 1.9.3p448` instead of `rvm install 1.9.3-p448` (with the dash). Maybe that was the issue?

[2017-05-19 11:50] pkuczynski commented on #4040
I just checked and `ruby-1.9.3-p448` indeed does not exists in https://cache.ruby-lang.org/pub/ruby/, but it does exist in https://cache.ruby-lang.org/pub/ruby/1.9/. Not sure why this is the case, but I will prepare the patch to look also into subfolders.

[2017-05-19 12:14] pkuczynski commented on #4006
Would need your test again please:

[code]

[2017-05-19 14:32] BjornMelgaard commented on #4006
of course )

I run `rvm get branch /bugfix/4006-openssl-arch`, found that there error with `PATH not prop...`, made `rvm implode`, install with dotfiles (im using zsh)

[code]

[code]
and now I cant fix  `PATH is not properly set up` :dizzy_face:
[code]

[2017-05-19 14:43] BjornMelgaard commented on #4006
Fixed :scream:

[2017-05-19 15:01] pkuczynski commented on #4006
Aaaaaaaaa, what a stupid typo! Apologies. Can you try again, please?

[code]

[2017-05-19 15:08] BjornMelgaard commented on #4006
Nope) [tail (sorry, hasnt saved another)](https://pastebin.com/0UuxjpSe)

[2017-05-19 15:31] pkuczynski commented on #4006
The tail is not enough as I would need to see how rvm is calling compilation. Can you please post the full log (incl. configure and make.log) from:

[code]

[2017-05-19 15:38] johnw8400 opened #4045 "tor"
## Description

## Steps to reproduce

 1. ...
 2. ...
 3. ...

## Expected behavior

## Actual behavior

* [command](https://gist.github.com/...)
* [config.log](https://gist.github.com/...) - only for issues with `install`
* [make.log](https://gist.github.com/...) - only for issues with `install`

**Debug mode**:
* [command](https://gist.github.com/...)
* [config.log](https://gist.github.com/...)

[2017-05-19 15:38] BjornMelgaard commented on #4006
[code]

https://pastebin.com/raw/uvmQAGCH

[2017-05-19 15:39] #4045 closed

[2017-05-19 21:14] mattscilipoti commented on #4040
Thanks to all.  I expect I did miss the dash initially.  That would explain why it didn't work, then it did.  I'm not sure because I typed the command into the issue (because it was soo "easy").  Lesson learned.

@pkuczynski I think correcting the fallback to include subdirs is a great idea.

Thanks for the fast response, @jonasporto.  Somehow it didn't show up for me until later.  I remember read

[2017-05-19 22:36] renpic commented on #3958
It is working, thanks a lot!

[2017-05-21 19:37] mpapis commented on #4040
Just checked:
[code]
it works as expected - as it always was.

What we need to do - is to detect there was no `-` in the version with `p` and maybe fix it or show an error/warning?

[2017-05-22 05:26] pdixit123 opened #4046 "Issue while installing RVM"
Issue while installing RVM

    rvm get master

@mpapis :- I tried to enter all possible commands mentioned on your previous post, however not all of them worked. Here's the extract.

[root@pa-rhel7-test ~]# yum install createrepo
Loaded plugins: product-id, rhnplugin, search-disabled-repos, subscription-manager
There was an error communicating with RHN.
Red Hat Satellite or RHN Classic support wi

[2017-05-22 14:16] pkuczynski commented on #4019
Closing due lack of feedback. Most likely fixed in #3958

[2017-05-22 14:16] #4019 closed

[2017-05-22 14:16] #3958 closed

[2017-05-22 14:59] pkuczynski commented on #4006
Thanks @BjornMelgaard. Looking into that...

[2017-05-22 15:38] pkuczynski commented on #4046
This issue is not following our requested format. It is very hard to read and help you. Please create a new issue in a format we require. Run only following commands:

[code]

[2017-05-22 15:38] #4046 closed

[2017-05-23 01:51] joshcano commented on #3917
I have the same issue, it was resolved by using `rvm autolibs enable` thank you

[2017-05-23 09:19] pkuczynski commented on #3917
Seems that this is sorted. Closing due lack of feedback from the issuer.

[2017-05-23 09:19] #3917 closed

[2017-05-23 09:49] pkuczynski commented on #3974
@Naxus28 and @njm2112 can you both try to run `rvm get master`?

[2017-05-23 13:47] Naxus28 commented on #3974
@pkuczynski: I removed the directory and curled rvm as you suggested. There still is a problem with the `/scripts` directory installation though. As expected from the failed installation, `source /Users/gferraz/.rvm/scripts/rvm`  doesn't load any function from the `rvm` directory since it is empty.

__Here is a screenshot of the installation__
![screen shot 2017-05-23 at 9 41 04 am](https://cloud.

[2017-05-23 16:04] pkuczynski commented on #4040
Indeed it works. I assumed it does not reading error report from @mattscilipoti. Maybe we should indeed throw an error when requested ruby is not on our `known` list?

[2017-05-23 17:37] pkuczynski commented on #4000
@coldnebo would that patch be required for any platform or only for specific linux versions? I am keen to add it, but not sure if it would not break anything on mac OS, Windows or other platforms?

[2017-05-23 18:13] pkuczynski commented on #4000
@coldnebo I prepared a branch including the patch you have provided. Would you be so keen and test it for me?

[code]

[2017-05-23 18:14] coldnebo commented on #4000
@pkuczynski the ruby source supports multiple platforms, but the patch only affects random.c for linux systems.  Note the line: `+#elif defined __linux__ && defined __NR_getrandom`

The source should still compile for all supported platforms.

[2017-05-23 18:15] coldnebo commented on #4000
@pkuczynski sure, give me a few...

[2017-05-23 18:29] coldnebo commented on #4000
confirmed it works!
(ignore that I'm root, this is for a multiuser install)

[code]

[2017-05-23 22:32] njm2112 commented on #3974
@pkuczynski: no luck for me either.

![image](https://cloud.githubusercontent.com/assets/10353532/26379248/25522d10-3fe6-11e7-9b53-141e429acbfc.png)

[2017-05-24 09:46] easoncxz commented on #3438
Today I tried to follow the installation instructions on the rvm homepage, and encountered a similar issue:

[code]
I'm not sure whether it's because my network doesn't support IPv4 yet, or because I'm accessing from within China and hence there being various internet access controls. I assumed there to be syncing between different keyservers and ended up working around this by arbitrarily using M

[2017-05-24 12:49] dfabreguette-ap commented on #3690
rvm get stable worked fine to me ! thx

[2017-05-25 07:39] taikhuu commented on #4006
I think Arch wiki already had a solution for this ?

[code]

[2017-05-26 17:27] itsmeroy2012 commented on #3958
It works !! Thanks alot, sorry for being inactive, I got caught up with life  @pkuczynski

[2017-05-28 10:32] BjornMelgaard commented on #4006
@taikhuu , yes, you are right, I [mentioned this solution](https://github.com/rvm/rvm/issues/4006#issuecomment-301690843)

[2017-05-29 15:24] pkuczynski commented on #4006
@BjornMelgaard I know the solution from their wiki, but we would like to build it into RVM, so nobody needs to lookup troubleshooting documentation :)

[2017-05-29 16:26] BjornMelgaard commented on #4006
@pkuczynski Yes, I understand and greatly appreciated )

[2017-05-29 19:17] pkuczynski commented on #4011
Can you check which version of gcc do you have installed?

[2017-05-30 17:47] MightyRevenge commented on #3923
Run `brew info openssl` and follow the instructions there. Do not try to `--force` link the latest openssl with the one that comes installed with OSX by default. (0.9.8)

Specifically it'll ask you to add the Homebrew version of openssl (should be 1.0.2 as of this date) into your $PATH.
`echo 'export PATH="/usr/local/opt/openssl/bin:$PATH"' >> ~/.bash_profile`

Note: Make sure to remove any `expor

[2017-05-31 12:35] RMCollins175 opened #4052 "rvm install 2.3.3"
hi guys, sorry, i'm a complete beginner to this stuff. I'm following a beginner course on udemy on Ruby. its asked me to download rvm and then install 2.3.3. so this is what i type into the terminal and receive:

rvm install 2.3.3
Searching for binary rubies, this might take some time.
No binary rubies available for: osx/10.10/x86_64/ruby-2.3.3.
Continuing with compilation. Please read 'rvm help m

[2017-05-31 14:08] pkuczynski commented on #4052
This is the password required for sudo. Did you try your own password? You might also want to install homebrew based on instructions on their side and only afterward continue with RVM install.

[2017-05-31 14:08] #4052 closed

[2017-05-31 14:15] RMCollins175 commented on #4052
what is the password? ok ill try installing home-brew. what is home-brew by the way?

[2017-05-31 14:37] RMCollins175 commented on #4052
its just not letting me input any keys

[2017-05-31 14:37] pkuczynski commented on #4052
Homebrew is a package manager. Install it from here: https://brew.sh

[2017-05-31 14:39] RMCollins175 commented on #4052
same problem. asking me for a password, where i cannot type anything...? weird.

[2017-05-31 14:41] pkuczynski commented on #4052
type the password and hit enter. the fact that it does not show anything on the screen is ok

[2017-05-31 14:54] sampablokuper opened #4053 "Add clarity to dotfile edits"
## Description

The RVM installer edits several dot-files (and creates them, if they do not already exist). It can be confusing for a user to find dot-files in their home directory for shells they have never installed (e.g. .mkshrc, if they are not a mksh user). It can also be hard for a novice user to know which edits to their dot-files were made by what, when, and why.

Possible example of such

[2017-05-31 15:00] pkuczynski commented on #4053
What do you mean by *delineate*? Would you expect RVM to print info during installation or include comment whenever dotfile is modified by RVM?

[2017-05-31 15:02] sampablokuper commented on #4053
@pkuczynski something like this: https://github.com/rvm/rvm/pull/4054/commits/1873ef24f1f289cb0b9fd2751348adc99a0e330e#diff-e2aa477d4d8062608817e3021b4ed39d :)

[2017-05-31 15:09] pkuczynski commented on #4053
Yeah, I asked question before I notice your PR :)

[2017-05-31 15:21] RMCollins175 commented on #4052
thanks a lot . all sorted. mindscrambled though!

[2017-06-02 18:46] RigDillinger commented on #4006
@pkuczynski any updates on this?
Unfortunately, solution from Archwiki didn't work for me

[2017-06-02 21:04] andrejcremoznik commented on #4006
@RigDillinger could you paste the command here please

[2017-06-02 21:36] RigDillinger commented on #4006
@andrejcremoznik I installed openssl first: `rvm pkg install openssl`
And then: `rvm install 2.3.1 -C --with-openssl-dir=$HOME/.rvm/usr --with-gcc=clang`

Running without setting `clang` ends up with something like `../../miniruby': corrupted double-linked list` during compilation
But, correct me if i'm wrong, compiling with clang can possibly cause some gems not to build upon this ruby version, a

[2017-06-02 21:46] andrejcremoznik commented on #4006
Maybe. Installing `bundler` and running `bundle install` fortunately worked fine for my case. Just needed `ruby` running for development on a web project. Needless to say `ruby` isn't my cup of coffee.

[2017-06-03 21:09] samskinner111 opened #4055 "Error running '__rvm_make -j 1',"
## Description

After having run 'rvm requirements', I am unable to use rvm or do a gem install.  The problem appears to be that rvm installed a version of openssl that breaks the usage via homebrew.

## Steps to reproduce

 1. I am on a MacBook Pro running Sierra (10.12.4).  I have Homebrew 1.2.1-175-g98959f1 and RVM 1.29.1.
 2. I ran the command "rvm requirements" and it installed a version of o

[2017-06-04 22:44] DHB opened #4056 "CD into rails project directory throws warning"
## Description

It ONLY occurs when ruby is defined in the Gemfile e.g. like so:

[code]
Not sure whether this is a bundler issue or RVM.
No big deal, no priority, just annoying.

No difference whether RVM is installed the manual "hard" way or by using the very helpful dedicated Ubuntu RVM package. I did not check OS X yet.

## Steps to reproduce

To reproduce just fire a ```rails new app_name```

[2017-06-05 11:26] DHB commented on #4056
### Just one more thing:

A plain  ```ruby '2.4.1' ```  in the Gemfile works as expected.

Commenting in the Gemfile like:

[code]
produces:

[code]

[2017-06-06 11:35] kruczjak commented on #4006
I have similar problem to @RigDillinger only `clang` compiler works but then, I can't install e.g. `unf_ext` gem.

^ looks like that statement is correct :sob:

[code]
`clang version 4.0.0 (tags/RELEASE_400/final)`
`gcc version 7.1.1 20170516 (GCC)`

[2017-06-06 20:27] rruimor commented on #4055
same issue here

[2017-06-06 20:47] rruimor commented on #4055
@samskinnerphd this helped me to manage to install `2.4.0`: https://stackoverflow.com/questions/41946652/setup-rvm-ruby-on-mac-os-x-sierra-unable-to-require-openssl/41971211

Since it seems that Ruby >= 2.4 requires openssl@1.1 to compile in OSX, I had to fix the following env variables:

- `export LDFLAGS=-L/usr/local/opt/openssl@1.1/lib`
- `export CPPFLAGS=-I/usr/local/opt/openssl@1.1/include`
-

[2017-06-08 08:30] SebastianPoehn opened #4057 "Ruby < 2.4 fail to build on Fedora 26"
## Description

Fedora 26 introduced openssl 1.1 whose API is not compatible with 1.0

## Steps to reproduce

1. Default Fedora 26 installation.
2. rvm install 2.2.6

## Expected behavior

Build fails because of a lot of openssl related build fails.

## How to Fix

For backward compat there is compat-openssl10-devel.

So we should:
if Fedora 26 && ruby < 2.4
   compat-openssl10-devel
else
  openss

[2017-06-08 16:22] pjfitzgibbons opened #4058 "JRuby-9 fresh install fails gem executable-hooks "make not found""
## Description
Error logged on jruby install:
[code]

## Steps to reproduce
Install RVM on fresh Docker image `openjdk:latest (8u131-jdk)`
$ `rvm install jruby-9.1.10.0`

## Expected behavior
Successful install of ruby gem "executable-hooks"

## Actual behavior
Above

## Environment info
https://gist.github.com/pjfitzgibbons/6c86b8221ee7782363418c9f016781e4

[2017-06-11 16:19] lindenstaub opened #4059 "get.rvm.io install script doesn't detect gnupg"
Hello! Just installed RVM on a freshly installed and updated Debian 8 Jessie machine.

RVM will successfully install, but the following message about no GPG software comes up. This is after succesfully running `gpg --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3`, so there is a gpg command available on the computer.

[code]

I had gnupg installed, but not gnup

[2017-06-11 18:49] tejalavu96 opened #4060 "ruby is installed but it was not updating"
in my system the ruby was ruby 1.9.3p484 (2013-11-22 revision 43786) [x86_64-linux]
but in this we required the 2.1.2 or 2.2.2

[2017-06-11 22:15] pkuczynski commented on #4060
Just run `rvm install 2.1.2 --default`

[2017-06-11 22:15] #4060 closed

[2017-06-11 22:36] pkuczynski commented on #4059
We indeed removed gpg support in d44f6867ed0a681c05f012261e8fdd142cac5e6c as we run into some issues with old gpg. I suggest we update the message from

`but no GPG software exists to validate it, skipping.`

to

`but no GPGv2 software exists to validate it. We will continue with the installation, but we suggest you install it in the future, as that provides more security.`

The other option would

[2017-06-11 23:26] pkuczynski commented on #4058
Could you please also gist `/usr/local/rvm/log/1496934910_jruby-9.1.10.0/gemsets.import.global.log` and show me what `make --version` shows?

Am I correct that you are using Alpine Linux v3.5? We did not have the support for it yet, so I would have to add it...

Note to myself:
* https://wiki.alpinelinux.org/wiki/Alpine_Linux_package_management
* https://pkgs.alpinelinux.org/packages

[2017-06-12 01:09] pkuczynski commented on #4057
I prepared a fix for this issue. Could you please run following commands and see f it works?

[code]

Thanks for help!

[2017-06-12 08:03] SebastianPoehn commented on #4057
Thanks for that prompt reply.

Unfortunately the $1 is not set for me.

Created a PR that makes it work. I can do a final test after you have merged to your bugfix branch.

https://github.com/rvm/rvm/pull/4062

[2017-06-12 09:37] mpapis commented on #4059
just a warning, security is very important and we should point it out, but installing our software is even more important - unattended installation would not work if we break the process.

[2017-06-12 18:44] pkuczynski commented on #4059
@lindenstaub do you think updating the message would be good enough? Or we should bring back gpg support?

[2017-06-12 18:53] selfagency commented on #3788
This no longer occurs for me in newer releases.

[2017-06-12 18:53] #3788 closed

[2017-06-12 18:54] pkuczynski commented on #3788
Thanks!

[2017-06-12 19:07] pkuczynski commented on #4057
This PR would not work because `${rvm_ruby_version}` shows only pure version without specifing ruby interpreter. It means it might conflict in the future with other Ruby interpreters like `ree`, `rbx` and others.

[2017-06-12 19:10] pkuczynski commented on #4057
Possibli there is an error somewhere else, as this PR contains quite a lot of changes. Could you please gist output of:

[code]

[2017-06-12 23:19] pkuczynski commented on #4006
@BjornMelgaard, @RigDillinger, @kruczjak, @andrejcremoznik  could you please try again (you can use different version if you want as long as its lower then 2.4):

[code]

Thanks in advance for your testing!

[2017-06-13 06:48] BjornMelgaard commented on #4006
[code]
and there it hanged up

http://dropmefiles.com/Q0aQN

[2017-06-13 06:52] RigDillinger commented on #4006
@pkuczynski @BjornMelgaard

Same

[2017-06-13 08:07] pkuczynski commented on #4006
@kruczjak so you compiled with `--with-openssl-dir=$HOME/.rvm/usr --with-gcc=clang` or with prepending `PKG_CONFIG_PATH=/usr/lib/openssl-1.0/pkgconfig:/usr/lib/pkgconfig`?

[2017-06-13 11:00] SebastianPoehn commented on #4057
<script src="https://gist.github.com/SebastianPoehn/4a4ab027d243f17684df864371aeebd6.js"></script>

[2017-06-13 12:43] pjfitzgibbons commented on #4058
HI @pkuczynski
Here is another gist, this time on the current ubuntu docker image (16.04 I believe).
The gemsets.import.global.log and the bash session are included in the gist.

https://gist.github.com/pjfitzgibbons/79c64b099407db41500a82cd2de8d47a

[2017-06-13 14:20] lindenstaub commented on #4059
I think gpg2 is becoming the default soon (at least in Debian 9, coming out pretty soon), so if you do bring support for gpg back it would probably only have to be temporary. I don't know how other distros are dealing with gpg/gpg2. If that's too much trouble, a prominent message at the end of the install process (so it doesn't get buried by all the other messages, or ruby compiling, etc) could be

[2017-06-15 02:21] ouye111 commented on #3686
I have the seem issue.

[2017-06-15 10:27] janfabry opened #4063 "Symlinked profile files can get modified twice"
## Description

On my machine, `~/.bash_profile` is a symlink to `~/.profile` (don't remember why, maybe Mac OS X set it up this way once?). The RVM installer tried to add the loading line to each file, so I got it twice.

## Steps to reproduce

 1. Make `~/.bash_profile` a symlink to `~/.profile`
 2. Install rvm via the installer

## Expected behavior

The symlink would be detected, so the loadin

[2017-06-15 13:16] pkuczynski opened #4064 "Add support for JRuby 9.1.11"

[2017-06-15 13:18] #4064 closed

[2017-06-16 13:50] #4000 closed

[2017-06-16 15:23] pkuczynski commented on #4057
Could you please show me output of `rvm info`?

[2017-06-16 16:08] zw963 opened #4067 "If exist .ruby-version which content is `2.3`, it use older version."
Current exist two ruby 2.3 serious version: which is 2.3.3 & 2.3.4

What I expect is make RVM auto use the lastest ruby patch version
if exist, so, I specify a `ruby-version` with `2.3`, not exactly `2.3.3` or `2.3.4`,

but, when into directory, it always 2.3.3, not 2.3.4.

current default RVM is 2.3.4

Following is `rvm-info` output:

[code]

BTW: this behavior is worked in early version (don't r

[2017-06-16 16:24] pkuczynski commented on #4067
I think we fixed it in master. Can you try again after running `rvm get master`?

[2017-06-17 12:44] zw963 commented on #4067
@pkuczynski , Cool, current master is worked.

Thanks

[2017-06-17 12:44] #4067 closed

[2017-06-17 18:57] ANeilan commented on #4057
running fedora 26, it still tries to install openssl-devel. using branch /bugfix/4057-fedora-26-compat-openssl10-devel

https://gist.github.com/ANeilan/a5b3ddc9091243ffb9a822bafe062cd4

rvm info
https://gist.github.com/ANeilan/93646cc5998c8fbf6da91f579bf2c859

[2017-06-17 22:09] pkuczynski commented on #4057
@ANeilan I would need the same type of log as @SebastianPoehn posted, but from the latest branch...

[2017-06-18 01:59] ANeilan commented on #4057
https://gist.github.com/ANeilan/03c1f35cfcbd4afb08522c84d27142c7

here's with rvm latest branch

[2017-06-18 02:26] ANeilan commented on #4057
and here is the actual build where it still fails

https://gist.github.com/ANeilan/846b52c46d9136e8a23b9e40d7bd32a8

[2017-06-18 18:52] perlun commented on #3686
@ouye111 please report a new issue about, the ones I reported are closed by now.

[2017-06-18 22:02] diegopamio opened #4068 "https://get.rvm.io gives "bash: line 880: __rvm_print_headline: command not found""
## Description

This problem is occurring today in both my production environment (Ubuntu) and in my development environment (Mac).

## Steps to reproduce

 1.  \curl -L https://get.rvm.io | bash -s stable --ruby=2.0.0 --autolibs=read-only

## Expected behavior

Install ruby 2.0.0 and rvm.

## Actual behavior

"bash: line 880: __rvm_print_headline: command not found"

## Environment info

None, as

[2017-06-18 22:08] diegopamio commented on #4068
I've traced back the issue to a change made 5 hours ago: https://github.com/rvm/rvm/commit/d89dd65db58069fc8d942257485ce88dc0545f40

Any clue?

[2017-06-18 22:17] pkuczynski commented on #4057
@ANeilan and @SebastianPoehn I just made another fix and it should work now. Could you please test it:

[code]

[2017-06-19 06:32] SebastianPoehn commented on #4057
Perfect. Not it works

[2017-06-19 07:41] pkuczynski commented on #4057
Perfect. I will merge it in then and you can switch over to `rvm get master`

[2017-06-19 07:43] #4057 closed

[2017-06-19 08:57] sachinsreedar92 commented on #3661
E: Could not get lock /var/lib/apt/lists/lock - open (11: Resource temporarily unavailable)
E: Unable to lock directory /var/lib/apt/lists/

[2017-06-19 09:02] szemek commented on #4068
I got the same error cc @pkuczynski @mpapis

[2017-06-19 10:33] devcfgc commented on #4068
I'm getting the same error :disappointed:

[2017-06-19 10:57] dragonchaser commented on #4068
Same here

[2017-06-19 11:47] ElvenSpellmaker commented on #4068
The thing for me is, to use _stable_ it relies on the _master_  install script which seems to be wrong imo, changing this to: `curl -sSL https://raw.githubusercontent.com/wayneeseguin/rvm/stable/binscripts/rvm-installer|  sudo bash -s stable` seems to work and that ensures you get the _stable_ installer and the _stable_ release... 🤔

Imo `https://get.rvm.io` should point to the _stable_ installer

[2017-06-19 12:12] devcfgc commented on #4068
@ElvenSpellmaker's solution works like a charm :+1:

[2017-06-19 12:16] diegopamio commented on #4068
Good point @ElvenSpellmaker, for me the solution was to point to the previous commit. Buy your's looks like a better solution. And yes, I agree https://get.rvm.io should point to stable.

[2017-06-19 12:28] pkuczynski commented on #4068
Does `\curl -L https://get.rvm.io | bash` work for you?

[2017-06-19 14:22] bendulum commented on #3430
I found this issue via web-search.

`rvm 1.29.1 (master) by Michal Papis, Piotr Kuczynski, Wayne E. Seguin [https://rvm.io/]`

`rvm install 2.3.3`

Gives:

`Error running '__rvm_make -j1'`

I can provide the `make`logfile if that helps.

[2017-06-19 14:34] nightsh commented on #4006
I'm having the same issue as @RigDillinger, should we file a new issue for it, or you guys think it's related?

[code]
It hangs here, does not respond to SIGINT. Had to kill the process.

Environment is 64 bit openSUSE Tumbleweed, up to date.

[2017-06-19 14:52] pkuczynski commented on #4006
Yes, please create a separate issue for openSUSE. It is most likely connected to this, but solution might be different

[2017-06-19 14:59] pkuczynski commented on #3430
This is a very old issue. Please create a new one and provide all information requested in the issue template...

[2017-06-19 15:04] nightsh opened #4069 "Ruby 2.3 fails to install on openSUSE"
## Description

This is likely linked to #4006, see [this comment](https://github.com/rvm/rvm/issues/4006#issuecomment-308040027) and below.

Ruby 2.3.3 fails to install and hangs during the installation process.
Additionally, an error is thrown: `*** Error in `../../miniruby': corrupted double-linked list: 0x0000000001e72890 ***`

## Steps to reproduce

Attempt installation of any `2.3.x` version

[2017-06-19 16:04] bendulum opened #4070 "Fail to install ruby 2.3.3 on Windows 7x64 with Cygwin"
Windows is running inside a VirtualBox. I tried several times and also re-installing Cygwin.
Cygwin and Cygwin\bin directories as well as Cygwin's `setup-x86_64.exe` are all in the PATH.

I installed RVM, as described [here](https://vaporsoft.net/setting-up-rvm-with-cygwin/) like so:
`gpg --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3`
`\curl -sSL https://get

[2017-06-19 18:48] cars10 commented on #4006
I am facing similiar issues.

Compiling with `CC=clang rvm install 2.3.3 -C --with-openssl-dir=$HOME/.rvm/usr` works, but alot of gems cannot bundle then:
[code]

Installing ruby with `PKG_CONFIG_PATH=/usr/lib/openssl-1.0/pkgconfig:/usr/lib/pkgconfig rvm install ruby-2.3.3` leads to the usual `*** Error in `../../miniruby': corrupted double-linked list: 0x00000000024c3130 ***`  error...

[2017-06-19 18:52] ANeilan commented on #4069
https://gist.github.com/ANeilan/24c5ac2e3384a8d3b1f4c32e7bdc61dc

fedora 26 fails to install 2.3.0

rvm info:

https://gist.github.com/ANeilan/6f0adeca1935b8235343366c81d9fc19

[2017-06-19 19:27] szemek commented on #4068
@pkuczynski

**ubuntu@ubuntu-xenial:~$ curl -L https://get.rvm.io | bash**

[code]

**ubuntu@ubuntu-xenial:~$ curl -sSL https://get.rvm.io | bash -s stable**

[code]

**ubuntu@ubuntu-xenial:~$ curl -sSL https://get.rvm.io | bash -s stable --ruby=2.3.0**

[code]

[2017-06-19 19:44] ANeilan commented on #4057
2.2 builds, but 2.3.x still won't build

[2017-06-19 19:48] pkuczynski commented on #4057
@ANeilan could you please create a separate issue for 2.3 and fill all the information requested in issue template (especially all logs)

[2017-06-19 21:19] dcarastan commented on #4068
The ruby installer regressed due to https://github.com/rvm/rvm/commit/d89dd65db58069fc8d942257485ce88dc0545f40#diff-36037c09d41eb6b50e82e55d585e4721. Here is a quick and dirty one-liner to get around it until an official fix arrives:
`curl -sSL https://get.rvm.io | grep -v __rvm_print_headline | bash -s stable --ruby`

[2017-06-20 02:39] xx78826 opened #4071 "after install ram show WARNING mess"
* WARNING: Above files contains `PATH=` with no `$PATH` inside, this can break RVM,
    for details check https://github.com/rvm/rvm/issues/1351#issuecomment-10939525
    to avoid this warning prepend `$PATH`.

[2017-06-20 03:17] taikhuu commented on #4006
It's another issue. Dowgrade to gcc6 and gcc-libs 6 will let you install ruby

[2017-06-20 03:32] xx78826 commented on #4071
solve

[2017-06-20 03:32] #4071 closed

[2017-06-20 06:50] pkuczynski commented on #3661
@sachinsreedar92 could you please open a new issue and provide all the details mentioned in the issue template?

[2017-06-20 11:20] ShockwaveNN opened #4072 "'scripts/version' file does not exist"
## Description

Installing latest RVM from master cause `Could not source '/usr/local/rvm/scripts/version' as file does not exist`

## Steps to reproduce

 1. curl -sSL https://get.rvm.io | bash
 2. source /etc/profile.d/rvm.sh
 3. rvm version

## Expected behavior

Show version of rvm

## Actual behavior

bash: __rvm_version: command not found

## Environment info

[code]

[2017-06-20 16:32] toh-ableton opened #4073 "rvm-installer installs neither ruby nor homebrew"
## Description

The [installation instructions](https://rvm.io/rvm/install) claim that `--ruby` [installs a ruby](https://rvm.io/rvm/install#any-other-system) and `--autolibs=homebrew` [installs homebrew if necessary](https://rvm.io/rvm/autolibs#letting-rvm-take-care-of-it-all-4).

This is not the case, nothing except rvm is installed.

## Steps to reproduce

Install rvm:
 1. Create a new user acc